<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>{{ '© 2017 Darul-kutub Права собственности принадлежат издательскому дому "Хузур"' | trans }}</p>
            </div>
            <div class="col-md-3"><a href="/policy" style="line-height: 50px;">{{ 'Политика конфиденциальности' | trans }}</a></div>
            <div class="col-md-1">
                <img src="{{ asset('static/images/16.png') }}" alt="">
            </div>
        </div>
    </div>
</div>
