<div class="header {{ header_class  }}">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-3">
                <a href="{{ path('index') }}">
                    <img src="{{ asset('static/images/logo.png') }}" class="img-responsive logo" alt="">
                </a>
            </div>
            <div class="col-md-6 col-9" style="text-align: right;">
                <a href="{{ path(newPath) }}" class="about hidden-phone">
                    {{ 'Новинки' | trans }}
                </a>
                <a href="{{ path(aboutPath) }}" class="about hidden-phone">
                    {{ 'О сайте' | trans }}
                </a>

                <form class="short-search" action="{{ path('search') }}" type="GET">
                    <input type="text" name="q">
                </form>
            </div>

        </div>
    </div>
</div>
