<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{{ 'Электронная библиотека "Дар аль-кутуб"' | trans }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Проект Дарул Кутуб создан, чтобы сохранить богатейшее татарское богословское наследие, обеспечить мусульман авторитетными источниками ханафитского мазхаба">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    {% endblock %}


    {% stylesheets
    "static/css/bootstrap.min.css"
    "static/css/select2.min.css"

    "@DarulKutubApplicationBundle/Resources/public/css/style.scss"

    filter="scssphp" %}

    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif|Roboto" rel="stylesheet">

    {% block stylesheets %}

    {% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}


    {% block content %}
    {% endblock %}


{% endblock %}

{% include '@DarulKutubApplication/base_footer.html.twig' %}

{% javascripts
"static/javascripts/vendor/jquery-1.12.4.min.js"
"static/javascripts/select2.min.js"
"@DarulKutubApplicationBundle/Resources/public/js/common.js" %}


<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}
</body>
</html>