{% block header %}
<header>
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="logo">
                    <a href="/" class="logo__img"></a>
                    <div class="logo__text">электронная библиотека</div>
                </div>

                <div class="line-search">
                    <nav>
                        <ul>
                            <li class="last"><i class="m_icon icons-letter"></i> <a href="mailto:knigi.darul.kutub@gmail.com">Обратная связь</a></li>
                        </ul>
                    </nav>

                    <form class="head-search" action="{{ path('search') }}" method="get">
                        <table class="search-table">
                            <tr>
                                <td class="search-input">
                                    <input type="text" placeholder="" value="{% if q is defined %}{{ q }}{% endif %}" name="q" class="input-block-level">
                                </td>
                                <td class="search-button">
                                    <button>Найти</button>
                                </td>
                            </tr>
                        </table>
                        <div class="search-options">
                            Например, <a href="#" class="pop">как читать намаз</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{{  render(controller('DarulKutubApplicationBundle:Default:menu')) }}
</header>
{% endblock %}