{% extends ApplicationBundle ~ '::base.html.twig' %}

{% block stylesheets %}
    <link href="/static/stylesheets/styles.css" media="screen, projection" rel="stylesheet">
    <link href="/static/javascripts/vendor/jsor-jcarousel/skins/tango/skin.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="/static/javascripts/vendor/modernizr.js"></script>
    <script src="/static/javascripts/vendor/jquery-1.9.1.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/javascripts/vendor/jsor-jcarousel/lib/jquery.jcarousel.js"></script>
    <script src="/static/javascripts/vendor/holder.js/holder.js"></script>
    <script src="/static/javascripts/main.js"></script>
{% endblock %}

{% block bodyTag %}
    <div id="wrapper">
        {% include 'DarulKutubApplicationBundle::chrome_frame.html.twig' %}
        {% include 'DarulKutubApplicationBundle::base_header.html.twig' %}
        {% block body %}{% endblock %}
        <div class="_empty"></div>
    </div>
    {% include '@DarulKutubApplication/base_footer.html.twig' %}
{% endblock %}