{% extends "@DarulKutubApplication/base.html.twig" %}

{% block title %}Электронная библиотека "Дар аль-кутуб"{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body_class %}bookpage{% endblock %}


{% block body %}
    <div class="book-page">
        <div class="container">
            <div class="row book-year visible-desktop">
                <div class="col-md-6" style="float: left;">
                    {% if book.year is not empty %}
                        <span>{{ book.year }}</span>
                    {% endif %}
                </div>

                <div class="col-md-6" style="float: right;">
                    <a href="/" style="float: right;">
                        <img src={{ asset('static/images/close.png') }} alt="">
                    </a>
                </div>
                <div class="clearfix"></div>

            </div>

            <div class="row visible-phone mobile-header">
                <div class="col-10 mobile-title">
                    {{ book.title }}
                </div>
                <div class="col-2" style="float: right;">
                    <a href="/" style="float: right;">
                        <img src={{ asset('static/images/close.png') }} alt="">
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row book-row">
                <div class="col-md-5 col-12">
                    {% set readPath = '' %}
                    {% for file in book.bookFile %}
                        {% if file.bookPDF is not null %}
                            {% set readPath =  file.bookPDFPath  %}
                        {% endif %}

                    {% endfor %}
                    {% if readPath != '' %}
                        <a href="/{{ readPath }}" target="_blank">
                            <img src="{{ book.coverPath | imagine_filter('book_page') }}" alt="{{ book.title }}" class="book-cover">
                        </a>
                    {% else %}
                        <img src="{{ book.coverPath | imagine_filter('book_page') }}" alt="{{ book.title }}" class="book-cover">
                    {% endif %}
                </div>
                <div class="col-md-5 offset-md-1 col-12">
                    <div class="book-info">
                        <div class="book-author">
                            {% if book.bookAuthor is not empty %}
                                {% for __author in book.bookAuthor %}
                                    {{ __author.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}<br>
                            {% endif %}
                        </div>
                        <div class="book-title">
                            {{ book.title }}
                        </div>
                        <div class="book-meta">
                            {% if book.lang is not null %}
                                <span class="book-lang">
                                    {{ book.lang }}
                                </span>
                            {% endif %}
                            {% if book.pages is not empty %}
                                <span class="book-pages">
                                    {{ book.pages }} {{ 'стр' | trans }}
                                </span>
                            {% endif %}

                        </div>

                        <div class="book-description">
                            {{ book.annotation }}
                        </div>

                        <div class="book-files">
                            <div class="book-parts">
                                {% if book.bookFile | length > 1 %}
                                    {% for file in book.bookFile %}
                                        <a href="#" class="tab">{{ file.bookFileName }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="book-parts-tab">
                                {% for file in book.bookFile %}
                                    <div class="tome">
                                        <div class="book-read">
                                            {% if file.bookPDF is not null %}
                                                <a href="/{{ file.bookPDFPath }}" target="_blank">{{ 'Читать' | trans }}</a>
                                            {% endif %}
                                        </div>

                                        <div class="book-download">

                                            <span>{{ 'Скачать' | trans }}</span>

                                            {% if file.bookPDF is not null %}
                                                <a href="{{ path('book_download_pdf', {'id': file.id }) }}" class="active">{{ 'PDF' | trans }}</a>
                                            {% endif %}
                                            {% if file.bookEPUB is not null %}
                                                <a href="{{ path('book_download_epub', {'id': file.id }) }}">{{ 'ePub' | trans }}</a>
                                            {% endif %}
                                            {% if file.bookFB2 is not null %}
                                                <a href="{{ path('book_download_fb2', {'id': file.id }) }}">{{ 'fb2' | trans }}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(".tome").not(":first").hide();
        $(".book-parts .tab").click(function () {
            $(".book-parts .tab").removeClass("active").eq($(this).index()).addClass("active");
            $(".tome").hide().eq($(this).index()).fadeIn()
        }).eq(0).addClass("active");
    </script>
{% endblock %}
