.bookpage {
    background: url('/static/images/bg.png') repeat-y;
    background-size: 100% auto;

    @media (max-width: 576px) {
        background: none;
    }
}




.book-page {

    height: 100%;
    min-height: 100%;

    .book-year {
        height: 45px;
        line-height: 45px;
        padding: 15px 0 120px 0;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        color: #3b4256;

        span {
            &:after {
                content: ' ';
                border-bottom: 1.5px solid #3b4256;
                display: inline-block;
                width: 80px;
                margin: 0 0 7px 5px;
            }
        }
    }

    .book-cover {
        width: 100%;
    }

    .book-row{
        width: 100%;
        @media (max-width: 576px) {
            margin: 0;
        }
    }

    .book-info {

        margin-bottom: 70px;

        .book-author {
            color: #747e89;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            margin: 30px 0 0 0;
            text-transform: uppercase;
        }

        .book-title {
            color: #3b4256;
            font-size: 25px;
            font-family: 'PT Serif', sans-serif;
            margin: 15px 0 0 0;
            font-weight: bold;
        }

        .book-meta {
            margin: 10px 0 0 0;

            color: #747e89;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;

            .book-lang {

            }

            .book-pages {
                &:before {
                    content: '|';
                    margin: 0 5px;
                }
            }
        }

        .book-description {
            margin: 15px 0 0 0;
            color: #747e89;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }

        .book-files {
            line-height: 51px;
            font-size: 18px;


            .book-parts {
                margin-top: 30px;

                .tab {
                    color: #c7ccd1;
                    padding: 0 10px;
                    &:first-child {
                        padding-left: 0;
                    }
                    &.active {
                        color: #3ec1fd;
                    }
                }
            }

            .book-parts-tab {
                margin-top: 30px;

            }

            .book-read {
                display: inline-block;
                a {
                    color: #fff;
                    background: #3ec1fd;
                    display: inline-block;
                    text-align: center;
                    text-transform: uppercase;
                    width: 190px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .book-download {
                display: inline-block;
                margin-left: 20px;

                span {
                    text-transform: uppercase;
                }

                a {
                    border-bottom: 1px dashed #3ec1fd;
                    color: #3ec1fd;
                    //padding: 0 2px;
                    margin: 0 8px;

                    &.active {
                        color: #3ec1fd;
                        border-bottom: 1px dashed #3ec1fd;
                    }

                    &:focus {
                        text-decoration: none;
                    }

                    &:hover {
                        text-decoration: none;
                        color: #3ec1fd;
                        border-bottom: 1px dashed #3ec1fd;
                    }
                }
            }

        }
    }
}

.mobile-title {
    color: #747e89;
    font-family: "Roboto Light", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding: 0;
    float: left;
}

.mobile-header {
    margin: 30px 0;
}