@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(/fonts/Raleway-Regular.woff) format('woff');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(/fonts/Roboto-Regular.woff) format('woff');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Light'), local('Roboto-Light'), url(/fonts/Roboto-Light.woff) format('woff');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display'), local('Playfair-Display'), url(/fonts/PlayfairDisplay-Bold.woff) format('woff');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Kazimir';
    font-style: normal;
    font-weight: 400;
    src: local('Kazimir Regular'), local('Kazimir-Regular'), url(/fonts/Kazimir-Regular.woff) format('woff');
    unicode-range: U+0370-03FF;
}