.footer {
    //position: absolute;
    bottom: 0;
    clear: both;
    //position: relative;
    z-index: 10;
    margin-top: -60px;

    width: 100%;
    height: 60px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    color: #3b4256;

    @media (max-width: 576px) {
        margin-top: 0px;

    }

    a {
        color: #3b4256;
    }
    p {
        line-height: 50px;
        color: #3b4256;

        @media (max-width: 576px) {
            line-height: 24px;
            margin-bottom: 0;

        }

    }
    @media (max-width: 576px) {
        margin-top: 30px;
        text-align: center;
    }
}