.index {
    background: url('/static/images/back.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
    @media (max-width: 576px) {
        background: #f7f5f6;
        overflow: auto;
    }
}

#index {

    //height: 100%;
    position: relative;
    min-height: 100%;

    .search-container {
        width: 1140px;
        height: 300px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        @media (max-width: 576px) {
            width: 100%;
            position: inherit;
            margin-top: 30px;
	    height: auto;
        }
    }

    .title {
        width: 100%;

        text-align: center;
        @media (max-width: 576px) {
            margin: 0;
        }
        span {
            font-family: "Raleway", sans-serif;
            font-size: 26px;
            text-transform: uppercase;
            color: #747e89;
            letter-spacing: 5px;
            width: 100%;
            @media (max-width: 576px) {
                font-size: 24px;
                line-height: 24px;
            }
        }
    }

    .subtitle {
        width: 100%;
        text-align: center;
        @media (max-width: 576px) {
            margin: 0;
        }
        span {
            font-family: "Playfair Display", sans-serif;
            font-size: 50px;
            color: #3b4256;
            width: 100%;
            @media (max-width: 576px) {
                font-size: 40px;
                line-height: 48px;
            }
        }
    }

    .search {
        width: 100%;
        margin: 40px 0 0 0;
        @media (max-width: 576px) {
            margin: 20px 0 0 0;

        }

    }

    .category-button {
        display: block;
        text-align: center;
        background: #3ec1fd;
        color: #fff;
        border: none;
	//margin-bottom: 15px; 
        width: 100%;
        height: 50px;
        border-radius: 25px;
        line-height: 50px;

        @media (max-width: 576px) {
            height: auto;
            //background: none;
            //border-radius: 0;
	    margin-bottom: 15px;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            //color: #747e89;
            text-transform: uppercase;
            display: inline-block;
        }
        &.inactive {
            background: #cecece;
        }

    }
}

#search {
    width: 100%;
    height: 50px;
    color: #747e89;
    //@include clearfix;
    @media (max-width: 576px) {
        display: initial;
    }
    .author {
        width: 25%;
        float: left;
        height: 50px;
        background: #fff;

        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        input {
            margin-left: 25px;
        }

        @media (max-width: 576px) {
            width: 100%;
            float: none;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            margin: 15px 0;
        }
    }

    .title {
        border-left: 1px #e1e1e1 solid;
        width: 25%;
        float: left;
        height: 50px;
        background: #fff;

        @media (max-width: 576px) {
            width: 100%;
            float: none;
            border-radius: 25px;
            margin: 15px 0;
            text-align: left;
            input {
                margin-left: 25px;
            }
        }
    }

    .category {
        width: 25%;
        height: 50px;
        background: #fff;
        float: left;
        border-left: 1px #e1e1e1 solid;
        font-family: "Roboto Light", sans-serif;
        font-size: 16px;

        .select2-selection {
            border: none;
            @media (max-width: 576px) {
                border-top-left-radius: 50px;
                border-top-right-radius: 50px;
            }
        }

        @media (max-width: 576px) {
            width: 100%;
            float: none;
            border-radius: 25px;
            margin: 15px 0;
        }
    }

    .search-button {
        width: 25%;
        float: left;
        cursor: pointer;
        button {
            background: #3ec1fd;
            color: #fff;
            border: none;
            width: 100%;
            height: 50px;

            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;

            font-family: "Roboto Light", sans-serif;
            font-size: 16px;

            @media (max-width: 576px) {
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
            }
        }
        @media (max-width: 576px) {
            width: 100%;
            float: none;
            margin: 15px 0;
        }
    }

    input, select {
        border: none;
        background: #fff;
        margin: 10px 0;
        height: 30px;

        color: #747e89;
        font-family: "Roboto Light", sans-serif;
        font-size: 16px;

        &:focus {
            outline: none;
        }
    }
}

.book-count {
    text-align: center;
    display: inherit;
    text-decoration: underline;
    margin: 8px 0;
    color: #747e89;
    font-family: "Roboto Light", sans-serif;

    @media (max-width: 576px) {
        display: none;
    }
}
