#results {
    margin: 0;
    min-height: 100%;

    .query {
        color: #dde1e6;
        font-size: 100px;
        font-family: "Kazimir", sans-serif;
        text-transform: capitalize;
        margin-top: -20px;
        position: fixed;
        white-space: nowrap;
        width: 350px;
        overflow: hidden;

        @media (max-width: 576px) {
            font-size: 24px;
            width: 100%;
            text-align: center;
            color: #747e89;
            margin: -10px 0 0 0;
            font-family: "Roboto Light", sans-serif;
            position: relative;
            font-weight: 700;
        }

        &:after {
            content: '';
            width: 150px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;

            background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
            @media (max-width: 576px) {
                display: none;
            }
        }


    }

    .results-container {
        margin: 25px auto 60px auto;
    }

    .result-meta {
        position: fixed;
        bottom: 60px;
        @media (max-width: 576px) {
            position: absolute;
            right: 15px;
            top: 0;
            width: 100px;
        }

        span {
            font-size: 20px;
            display: block;
            color: #747e89;
            font-family: 'Kazimir', sans-serif;

            @media (max-width: 576px) {
                float: right;
                font-family: "Roboto Light", sans-serif;
                line-height: 18px;
                font-weight: 700;
            }
            &.count {
                line-height: 20px;
                font-size: 26px;
                float: left;
                font-family: 'Kazimir', sans-serif;

            }
        }
    }

    .search-results {
        padding: 8px 90px 0 0;

        @media (max-width: 576px) {
            padding: 0;
        }

        .book {
            width: 50%;
            float: left;
            padding: 10px;
            text-align: center;
            margin: 0 0 20px 0;

            a {
                color: #747e89;
                font-size: 16px;
                display: block;
                text-decoration: none;
                margin: 10px 0 0;

                &.title {
                    height: 48px;
                }
            }
        }
        .pagination {
            display: block;
            clear: both;
            margin: 15px auto;
            text-align: right;
            font-size: 26px;
            font-family: 'Roboto', sans-serif;
            a {
                color: #747e89;
            }
        }
    }
}

.hint-results {
    padding: 0;
    list-style: none;
    background: #fff;
    z-index: 999;
    position: absolute;
    overflow-y: scroll;
    max-height: 200px;
}
.hint-results li {
    text-align: left;
    border-bottom: 1px #d4d5d9 solid;
    padding: 4px 0 4px 20px;

}
.hint-results li:hover {
    background: #eee;
    cursor: pointer;
}
