
.select2-container {
    height: 50px;
}

.select2-dropdown {
    border: none;
}

.select2-selection__arrow {
    background: url("/static/images/arrow.png") no-repeat;
    background-position: 3px 10px;

    b {
        display: none;
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 13px;
    right: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 24px;
}

.select2-results__option {
    height: 72px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 72px;
    border-left: 4px #fff solid;
    color: #747e89;
    font-size: 18px;
    padding: 0 20px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #fbfbfb;
    color: #747e89;
    border-left: 4px #3ec1fd solid;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #747e89;
}

.wdrop {
    width: 400px !important;
}
