html, body {
    height: 100vh;
    min-height: 100vh;
}

a {
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}



@import "_mixins.scss";
@import "_fonts.scss";


@import "_header.scss";
@import "_footer.scss";

@import "_index.scss";
@import "_book_page.scss";
@import "_search.scss";

@import "_visibility.scss";


@import "_select2.scss";

* {
    outline: none !important;
}


.get-catalog {
    color: #fff;
    background: #3ec1fd;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    width: 190px;
    height: 51px;
    line-height: 51px;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}