@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../sass/screen.scss */
.blue {
  color: #3399cc !important;
}

/* line 16, ../sass/screen.scss */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background: url(../images/body-bg.png) repeat;
  font: normal 14px/20px Arial, sans-serif;
}

/* line 25, ../sass/screen.scss */
p a {
  text-decoration: underline;
}

/* line 31, ../sass/screen.scss */
a.pop {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-decoration: none !important;
}
/* line 41, ../sass/screen.scss */
a.flat {
  color: #333333;
  font-style: italic;
  text-decoration: underline;
}

/* line 49, ../sass/screen.scss */
header .logo {
  float: left;
}
/* line 53, ../sass/screen.scss */
header .line-search {
  width: 650px;
  float: right;
  margin-top: 15px;
}
/* line 58, ../sass/screen.scss */
header .line-search .m_email {
  float: right;
  margin-top: 7px;
  font-size: 16px;
  font-weight: bold;
}
/* line 66, ../sass/screen.scss */
header .line-search .m_icon {
  vertical-align: bottom;
  margin-right: .4em;
}
/* line 72, ../sass/screen.scss */
header .line-search nav ul {
  float: left;
  margin: 0 0 0 12px;
  list-style: none;
  font-size: 0;
}
/* line 78, ../sass/screen.scss */
header .line-search nav ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: bottom;
  margin-right: 24px;
  font-size: 14px;
  color: #333333;
}
/* line 83, ../sass/screen.scss */
header .line-search nav ul li:last-child {
  margin-right: 0;
}
/* line 90, ../sass/screen.scss */
header .line-search nav ul li a {
  color: #333333;
  text-decoration: underline;
  vertical-align: bottom;
}
/* line 99, ../sass/screen.scss */
header .line-search .head-search {
  clear: both;
  margin: 5px 0 0 0;
  padding: 10px 12px 2px;
  background: #dcdcdc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 107, ../sass/screen.scss */
header .line-search .head-search .search-table {
  width: 100%;
}
/* line 111, ../sass/screen.scss */
header .line-search .head-search .search-table .search-input input {
  margin: 0;
  height: 36px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
/* line 121, ../sass/screen.scss */
header .line-search .head-search .search-table .search-button {
  width: 75px;
}
/* line 124, ../sass/screen.scss */
header .line-search .head-search .search-table .search-button button {
  float: right;
  border: none;
  width: 70px;
  height: 36px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #f66936;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1), inset 0 -1px #db5220;
  -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.1), inset 0 -1px #db5220;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1), inset 0 -1px #db5220;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f15a23), color-stop(100%, #f86e3d));
  background-image: -webkit-linear-gradient(bottom, #f15a23, #f86e3d);
  background-image: -moz-linear-gradient(bottom, #f15a23, #f86e3d);
  background-image: -o-linear-gradient(bottom, #f15a23, #f86e3d);
  background-image: linear-gradient(bottom, #f15a23, #f86e3d);
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}
/* line 144, ../sass/screen.scss */
header .line-search .head-search .search-options {
  font-size: 12px;
  color: #666;
}
/* line 149, ../sass/screen.scss */
header .line-search .head-search .search-options a {
  color: #666;
}

/* line 157, ../sass/screen.scss */
.strip {
  height: 45px;
  margin: 18px 0;
  border-top: 1px dashed #ababab;
  border-bottom: 1px dashed #ababab;
  background: #fff;
}
/* line 165, ../sass/screen.scss */
.strip .primary {
  list-style: none;
  margin: 14px 0 0 0;
}
/* line 169, ../sass/screen.scss */
.strip .primary li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin: 0 50px 0 0;
  padding-bottom: 14px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
/* line 175, ../sass/screen.scss */
.strip .primary li:last-child, .strip .primary li.last {
  margin-right: 0;
}
/* line 190, ../sass/screen.scss */
.strip .primary li a {
  color: #333333;
  text-decoration: none;
}
/* line 194, ../sass/screen.scss */
.strip .primary li a:hover {
  border-bottom: 1px dotted;
  color: #f15a23;
  text-decoration: none;
}
/* line 201, ../sass/screen.scss */
.strip .primary li:hover ul {
  display: block;
}
/* line 205, ../sass/screen.scss */
.strip .primary li:hover a {
  border-bottom: 1px dotted;
  color: #f15a23;
  text-decoration: none;
}
/* line 211, ../sass/screen.scss */
.strip .primary ul {
  display: none;
  position: absolute;
  margin: 13px 0 0 0;
  padding: 10px 22px;
  width: 460px;
  z-index: 300;
  background: #262a2e;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  font-size: 0;
}
/* line 223, ../sass/screen.scss */
.strip .primary ul:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -7px;
  margin-left: -10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 7px 10px;
  border-color: transparent transparent #262a2e transparent;
}
/* line 236, ../sass/screen.scss */
.strip .primary ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 230px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 23px;
  font-weight: normal;
  color: #e0e0e0;
}
/* line 248, ../sass/screen.scss */
.strip .primary ul li a {
  color: #e0e0e0 !important;
  border-bottom: none !important;
  text-decoration: underline !important;
  line-height: 18px;
}
/* line 253, ../sass/screen.scss */
.strip .primary ul li a:hover {
  border-bottom: none;
  color: #3399cc !important;
  text-decoration: underline;
}

/* line 264, ../sass/screen.scss */
.strip-2 {
  margin: 15px 0;
  padding: 15px 0 25px;
  background: white url(../images/strip-2.png) repeat-x bottom;
}

/* line 271, ../sass/screen.scss */
.shelf {
  padding-bottom: 70px;
  background: url(../images/shelf.png) no-repeat bottom;
}

/* line 279, ../sass/screen.scss */
ul.links, ul.breadcrumbs {
  margin: 0 0 20px 0;
  list-style: none;
  font-size: 0;
}
/* line 284, ../sass/screen.scss */
ul.links li, ul.breadcrumbs li {
  display: inline;
  margin-right: 1em;
  font-size: 13px;
}
/* line 287, ../sass/screen.scss */
ul.links li:last-child, ul.breadcrumbs li:last-child {
  margin-right: 0;
}
/* line 293, ../sass/screen.scss */
ul.links li a, ul.breadcrumbs li a {
  color: #333333;
  text-decoration: underline;
}
/* line 301, ../sass/screen.scss */
ul.breadcrumbs li {
  margin-right: 0;
}
/* line 304, ../sass/screen.scss */
ul.breadcrumbs li a {
  color: #3399cc;
}
/* line 310, ../sass/screen.scss */
ul.alphabet {
  margin: 0;
  padding: 0 14px;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}
/* line 319, ../sass/screen.scss */
ul.alphabet li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 23px;
  padding: 5px 4px 0;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 327, ../sass/screen.scss */
ul.alphabet li.active {
  background: #3399cc;
  color: #fff;
}
/* line 330, ../sass/screen.scss */
ul.alphabet li.active a {
  color: #fff;
  text-decoration: underline;
  cursor: default;
}

/* line 340, ../sass/screen.scss */
.author-list {
  margin-top: 50px;
}
/* line 343, ../sass/screen.scss */
.author-list .letter {
  font-size: 20px;
  font-weight: bold;
}
/* line 348, ../sass/screen.scss */
.author-list ul {
  padding: 0;
  margin: 0;
}
/* line 351, ../sass/screen.scss */
.author-list ul li {
  list-style: none;
}
/* line 354, ../sass/screen.scss */
.author-list ul li a {
  color: #333333;
  text-decoration: none;
}
/* line 357, ../sass/screen.scss */
.author-list ul li a:hover {
  text-decoration: underline;
}

/* line 365, ../sass/screen.scss */
.scroll-top {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 3px 15px;
  margin-top: 60px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-decoration: underline;
}
/* line 373, ../sass/screen.scss */
.scroll-top:focus {
  outline: 0;
}

/* line 378, ../sass/screen.scss */
.large-para {
  margin: 50px 0 150px;
}
/* line 380, ../sass/screen.scss */
.large-para p {
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 21px;
}

/* line 388, ../sass/screen.scss */
.book-list {
  font-size: 0;
}
/* line 392, ../sass/screen.scss */
.book-list .book {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 300px;
  margin: 0 0 55px 20px;
  font: normal 13px/18px "PT Sans Narrow", sans-serif;
}
/* line 399, ../sass/screen.scss */
.book-list .book h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
}
/* line 404, ../sass/screen.scss */
.book-list .book h3 a {
  text-decoration: underline;
}

/* line 413, ../sass/screen.scss */
.book-info .cover {
  margin-right: 32px;
}
/* line 417, ../sass/screen.scss */
.book-info .media-body {
  margin: 0;
}
/* line 420, ../sass/screen.scss */
.book-info .media-body h2 {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 22px;
}
/* line 427, ../sass/screen.scss */
.book-info .media-body .m_btn {
  margin-right: 15px;
}
/* line 432, ../sass/screen.scss */
.book-info p {
  margin-bottom: 15px;
  width: 520px;
}

/* line 438, ../sass/screen.scss */
.social-links {
  list-style: none;
}
/* line 441, ../sass/screen.scss */
.social-links li {
  float: left;
  margin-right: 6px;
}

/* Icons
-----------------------------------------------------------------------------*/
/* line 453, ../sass/screen.scss */
.m_icon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

/* line 154, icons/*.png */
.icons-sprite, .icons-arrow-down, .icons-cup, .icons-facebook, .icons-heart, .icons-hold, .icons-home, .icons-lifebuoy, .icons-odnoklassniki, .icons-read, .icons-twitter, .icons-vkontakte {
  background: url('../images/icons-s789954f409.png') no-repeat;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-down {
  background-position: 0 -456px;
  height: 11px;
  width: 8px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cup {
  background-position: 0 -376px;
  height: 16px;
  width: 16px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -334px;
  height: 32px;
  width: 32px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook:hover, .icons-facebook.facebook_hover, .icons-facebook.facebook-hover {
  background-position: 0 -250px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-heart {
  background-position: 0 -402px;
  height: 14px;
  width: 16px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-hold {
  background-position: 0 -477px;
  height: 16px;
  width: 10px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home {
  background-position: 0 -426px;
  height: 20px;
  width: 16px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-lifebuoy {
  background-position: 0 0;
  height: 30px;
  width: 28px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-odnoklassniki {
  background-position: 0 -208px;
  height: 32px;
  width: 32px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-odnoklassniki:hover, .icons-odnoklassniki.odnoklassniki_hover, .icons-odnoklassniki.odnoklassniki-hover {
  background-position: 0 -82px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-read {
  background-position: 0 -503px;
  height: 16px;
  width: 14px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -124px;
  height: 32px;
  width: 32px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter:hover, .icons-twitter.twitter_hover, .icons-twitter.twitter-hover {
  background-position: 0 -40px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-vkontakte {
  background-position: 0 -292px;
  height: 32px;
  width: 32px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-vkontakte:hover, .icons-vkontakte.vkontakte_hover, .icons-vkontakte.vkontakte-hover {
  background-position: 0 -166px;
}

/* Headings
-----------------------------------------------------------------------------*/
/* line 481, ../sass/screen.scss */
.populyarnie-knigi {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url("../images/text/populyarnie-knigi.png");
  width: 171px;
  height: 23px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 486, ../sass/screen.scss */
.novie-postupleniya {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url("../images/text/novie-postupleniya.png");
  width: 183px;
  height: 23px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 491, ../sass/screen.scss */
.interestnie-knigi {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url("../images/text/interestnie-knigi.png");
  width: 169px;
  height: 23px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 496, ../sass/screen.scss */
.knigi-avtora {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url("../images/text/knigi-avtora.png");
  width: 128px;
  height: 23px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* jCarousel
-----------------------------------------------------------------------------*/
/* line 509, ../sass/screen.scss */
.jcarousel-skin-custom {
  /* Horizontal Buttons */
}
/* line 510, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-container {
  overflow-y: visible;
}
/* line 514, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-container-horizontal {
  width: auto;
  padding: 0;
}
/* line 519, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-clip-outer {
  height: 180px;
  overflow-y: visible;
}
/* line 523, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-clip-outer .jcarousel-clip {
  overflow-x: hidden;
}
/* line 528, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-clip-horizontal {
  width: 100%;
}
/* line 532, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-item {
  width: 200px;
  margin: 0 20px;
  position: relative;
  font-size: 13px;
  line-height: 16px;
}
/* line 540, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-item a {
  color: #333333;
  text-decoration: none;
}
/* line 543, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-item a:hover {
  text-decoration: underline;
}
/* line 547, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-item p {
  margin: .5em 0 0;
}
/* line 553, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-next-horizontal {
  position: absolute;
  top: 0;
  margin-top: 80px;
  right: -30px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: transparent url("../images/jcarousel/next.png") no-repeat 0 0;
  /*
  &:active {
    background-position: -64px 0
  }
  */
}
/* line 563, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-next-horizontal:hover, .jcarousel-skin-custom .jcarousel-next-horizontal:focus {
  background: transparent url("../images/jcarousel/next-hover.png") no-repeat 0 0;
}
/* line 573, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-prev-horizontal {
  position: absolute;
  top: 0;
  margin-top: 80px;
  left: -30px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: transparent url("../images/jcarousel/prev.png") no-repeat 0 0;
  /*
  &:active {
    background-position: -64px 0;
  }
  */
}
/* line 583, ../sass/screen.scss */
.jcarousel-skin-custom .jcarousel-prev-horizontal:hover, .jcarousel-skin-custom .jcarousel-prev-horizontal:focus {
  background: transparent url("../images/jcarousel/prev-hover.png") no-repeat 0 0;
}
/* line 594, ../sass/screen.scss */
.jcarousel-skin-custom .cover {
  position: relative;
  z-index: 100;
  margin: 14px 0 0 14px;
}
/* line 600, ../sass/screen.scss */
.jcarousel-skin-custom .hover {
  z-index: 150;
}
/* line 602, ../sass/screen.scss */
.jcarousel-skin-custom .hover .expand {
  display: block;
}
/* line 607, ../sass/screen.scss */
.jcarousel-skin-custom .expand {
  display: none;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px;
  z-index: 50;
  margin-top: 3px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
/* line 621, ../sass/screen.scss */
.jcarousel-skin-custom .expand .actions {
  position: absolute;
  top: 14px;
  right: 32px;
}
/* line 626, ../sass/screen.scss */
.jcarousel-skin-custom .expand .actions div {
  margin-bottom: 9px;
}
/* line 631, ../sass/screen.scss */
.jcarousel-skin-custom .expand .meta {
  margin-top: 195px;
}
/* line 639, ../sass/screen.scss */
.jcarousel-skin-custom .expand .meta .title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px;
  line-height: 22px;
}
/* line 645, ../sass/screen.scss */
.jcarousel-skin-custom .expand .meta .description {
  margin-top: 5px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
/* line 654, ../sass/screen.scss */
.jcarousel-skin-custom .expand .vote {
  margin-top: 10px;
}
/* line 658, ../sass/screen.scss */
.jcarousel-skin-custom .expand .more-action {
  margin-top: 15px;
}
/* line 660, ../sass/screen.scss */
.jcarousel-skin-custom .expand .more-action span {
  margin-right: 17px;
}
/* line 662, ../sass/screen.scss */
.jcarousel-skin-custom .expand .more-action span:last-child {
  margin-right: 0;
}
/* line 666, ../sass/screen.scss */
.jcarousel-skin-custom .expand .more-action span .m_icon {
  margin-right: .4em;
}
/* line 670, ../sass/screen.scss */
.jcarousel-skin-custom .expand .more-action span a {
  color: #3399cc;
  text-decoration: underline;
}

/* Author Page
-----------------------------------------------------------------------------*/
/* line 688, ../sass/screen.scss */
.author-info {
  margin: 0 0 90px 28px;
}
/* line 691, ../sass/screen.scss */
.author-info .photo {
  float: left;
  margin-right: 62px;
}
/* line 695, ../sass/screen.scss */
.author-info .photo img {
  border: 4px solid #fff;
}
/* line 700, ../sass/screen.scss */
.author-info .media-body {
  width: 460px;
}
/* line 703, ../sass/screen.scss */
.author-info .media-body h2 {
  font-size: 20px;
  color: #333333;
}

/* Article Page
-----------------------------------------------------------------------------*/
/* line 719, ../sass/screen.scss */
.article-list {
  width: 85%;
  font-size: 15px;
  line-height: 20px;
}
/* line 724, ../sass/screen.scss */
.article-list .article {
  margin: 0 0 33px 0;
}
/* line 727, ../sass/screen.scss */
.article-list .article .article-image {
  float: left;
  margin-right: 20px;
  width: 190px;
}
/* line 731, ../sass/screen.scss */
.article-list .article .article-image img {
  max-width: 190px;
}
/* line 735, ../sass/screen.scss */
.article-list .article .article-content {
  overflow: hidden;
}
/* line 738, ../sass/screen.scss */
.article-list .article .date, .article-list .article .time {
  color: #3399cc;
  font-size: 12px;
  line-height: 15px;
}
/* line 743, ../sass/screen.scss */
.article-list .article .time {
  color: #3399cc;
  font-weight: bold;
}
/* line 748, ../sass/screen.scss */
.article-list .article h3 {
  margin: 3px 0 5px;
  font-size: 18px;
  font-weight: bold;
  color: #010101;
  line-height: 21px;
}
/* line 757, ../sass/screen.scss */
.article-list .article h3 a {
  color: #010101;
  text-decoration: none;
}
/* line 760, ../sass/screen.scss */
.article-list .article h3 a:hover {
  text-decoration: underline;
}
/* line 765, ../sass/screen.scss */
.article-list .article .article-introtext {
  color: #666;
}

/* Pagination
-----------------------------------------------------------------------------*/
/* line 780, ../sass/screen.scss */
.default_pagination {
  margin-top: 60px;
}
/* line 782, ../sass/screen.scss */
.default_pagination ul {
  margin: 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}
/* line 788, ../sass/screen.scss */
.default_pagination ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 15px;
  color: #666666;
}
/* line 793, ../sass/screen.scss */
.default_pagination ul li.next, .default_pagination ul li.previous {
  font-style: italic;
}
/* line 795, ../sass/screen.scss */
.default_pagination ul li.next a, .default_pagination ul li.previous a {
  display: inline;
  padding: 0;
  text-decoration: underline;
}
/* line 801, ../sass/screen.scss */
.default_pagination ul li.next.disabled, .default_pagination ul li.previous.disabled {
  color: #b7b6b6;
}
/* line 803, ../sass/screen.scss */
.default_pagination ul li.next.disabled span, .default_pagination ul li.previous.disabled span {
  text-decoration: underline;
}
/* line 808, ../sass/screen.scss */
.default_pagination ul li.next {
  float: right;
}
/* line 811, ../sass/screen.scss */
.default_pagination ul li.previous {
  float: left;
}
/* line 814, ../sass/screen.scss */
.default_pagination ul li.active {
  padding: 2px 8px;
  background: #0099cc;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
}
/* line 822, ../sass/screen.scss */
.default_pagination ul li a {
  display: block;
  padding: 2px 8px;
  color: #666666;
  text-decoration: none;
}
/* line 828, ../sass/screen.scss */
.default_pagination ul li a:focus {
  outline: 0;
}

/* Ui
-----------------------------------------------------------------------------*/
/* line 842, ../sass/screen.scss */
.m_btn {
  padding: 18px 32px;
  border: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background: #999;
  color: #fff;
}
/* line 850, ../sass/screen.scss */
.m_btn:hover {
  background: #F66936;
}
/* line 853, ../sass/screen.scss */
.m_btn:active {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

/* line 863, ../sass/screen.scss */
footer {
  margin: 200px 0 20px;
}
/* line 866, ../sass/screen.scss */
footer .logo {
  margin: 0 0 25px 0;
}
/* line 870, ../sass/screen.scss */
footer .links {
  margin: 0;
  list-style: none;
  float: left;
  font-size: 14px;
  line-height: 20px;
}
/* line 877, ../sass/screen.scss */
footer .links li {
  display: block;
  margin-right: 0;
  font-size: 14px;
}
/* line 886, ../sass/screen.scss */
footer .partners h5 {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}
/* line 894, ../sass/screen.scss */
footer .partners ul {
  margin: 0;
  list-style: none;
}
/* line 897, ../sass/screen.scss */
footer .partners ul li {
  display: block;
  margin-bottom: 8px;
}
/* line 904, ../sass/screen.scss */
footer .social-links {
  margin-top: 15px;
}
