<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('static/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('static/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('static/css/select2.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">Darul-kutub.com</a>

    <div class="collapse navbar-collapse navbar-toggleable-md" id="navbarNavAltMarkup">
        <ul class="nav navbar-nav">

            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ path('sc_books_admin_authors') }}">Авторы</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ path('sc_books_admin') }}">Книги</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ path('sc_category_admin') }}">Разделы</a>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Сервисы
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item cacheclear" href="{{ path('darul_kutub_origin_clear_cache') }}">Обновить кэш</a>
                    <a class="dropdown-item buildcat" href="{{ path('darul_kutub_origin_build_catalog') }}">Обновить каталог</a>
                    <a class="dropdown-item" href="{{ path('sc_books_stat') }}">Статистика по книгам/томам</a>
                    <a class="dropdown-item" href="{{ path('sc_books_bad_tomes') }}">Отсутствующие тома</a>
                </div>
            </li>

        </ul>

        <div class="navbar-text pull-right">{{ app.user.username }}(<a style="display: inline-block;" href="/logout/">выйти</a>)</div>
    </div>
</nav>

<script src="{{ asset('static/javascripts/vendor/jquery-1.12.4.min.js') }}"></script>
<script src="{{ asset('static/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('static/javascripts/select2.min.js') }}"></script>
<script src="{{ asset('static/javascripts/jquery_ext.js') }}"></script>

<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
<script>
    $(".cacheclear").click(function () {
        var url = $(this).attr('href');
        $.ajax({
            url: url,
            type: "GET",
            success: function () {
                alert('success');
            }
        });
        return false;
    });

    $(".buildcat").click(function () {
        var url = $(this).attr('href');
        $.ajax({
            url: url,
            type: "GET",
            success: function () {
                alert('success');
            }
        });
        return false;
    });

    $("#dropdownMenu1").click(function(){
        $(".dropdown-menu").toggle();
    });
</script>
</body>
</html>
