{% extends '@DarulKutubOrigin/layout.html.twig' %}

{% block title %}Админка | Список книг{% endblock %}
{% block body %}

    <table class="table table-bordered">
        <caption>Книги</caption>
        <thead>
        <tr>
            <th>Название</th>
            <th>Тома</th>
        </tr>
        </thead>
        <tbody>
        {% for __book in books %}
            <tr>
                <td><a href="{{ path('sc_books_admin_edit', {id:__book.id}) }}">{{ __book.title }}</a></td>
                <td>{% for __file in __book.bookFile %}{{ __file.bookFileName }}, {% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
