{% extends 'DarulKutubOriginBundle::layout.html.twig' %}

{% block title %}Админка | Редактирование книги(id: {{ book.id }}){% endblock %}

{% block body %}

    <script type="text/javascript" src="{{ asset('bundles/scbooksadmin/js/jquery.form.min.js') }}"></script>
    <link href="{{ asset('bundles/scbooksadmin/mini-upload-form/assets/css/style.css') }}" rel="stylesheet"/>

    <script type="text/javascript" src="{{ asset('bundles/scbooksadmin/js/jquery-ui-1.10.3/ui/minified/jquery-ui.min.js') }}"></script>
    <link href="{{ asset('bundles/scbooksadmin/js/jquery-ui-1.10.3/themes/base/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>

    <!-- JavaScript Includes -->
    <script src="{{ asset('bundles/scbooksadmin/mini-upload-form/assets/js/jquery.knob.js') }}"></script>

    <!-- jQuery File Upload Dependencies -->
    <script src="{{ asset('bundles/scbooksadmin/mini-upload-form/assets/js/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/scbooksadmin/mini-upload-form/assets/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/scbooksadmin/mini-upload-form/assets/js/jquery.fileupload.js') }}"></script>

    <!-- Our main JS file -->
    <script src="{{ asset('bundles/scbooksadmin/mini-upload-form/assets/js/script.js') }}"></script>

    <script src="{{ asset('bundles/scbooksadmin/select2/select2.js') }}"></script>
    <script src="{{ asset('bundles/scbooksadmin/select2/select2_locale_ru.js') }}"></script>
    <link href="{{ asset('bundles/scbooksadmin/select2/select2.css') }}" rel="stylesheet"/>

    <script type="text/javascript">
        jQuery(function () {
            jQuery('#js_book_save_form').ajaxForm({
                beforeSubmit: function checkFormData(formData, jqForm, options) {
                    if (jQuery('#book_title').val() == '') {
                        jQuery('.js_book_state_error').show();
                        jQuery('.js_book_state_error').find('span').html('Название не может быть пустым');
                        return false;
                    }

                    jQuery('.js_book_state_error').hide();
                    jQuery('.js_book_state_success').hide();
                    jQuery('.js_book_state_wait').show();
                    return true;
                },
                success: function showResponse(responseText, statusText) {
                    jQuery('.js_book_state_wait').hide();

                    if (responseText.code == 'saved') {
                        jQuery('.js_book_state_success').show(0).animate({
                            opacity: 0.25
                        }, 3000, 'linear', function () {
                            jQuery(this).hide("slide", {direction: "up"}, 3000);
                        });
                    } else {

                        jQuery('.js_book_state_error').find('span').html(responseText.message);
                        jQuery('.js_book_state_error').show();
                    }
                    return;
                }
            });

            jQuery('.js_book_delete_button').bind('click', function (ev) {
                ev.stopPropagation();
                ev.preventDefault();

                jQuery(".js_book_delete_button").dialog({
                    title: 'Вы уверены, что хотите удалить статью?',
                    width: '300',
                    modal: true,
                    buttons: {
                        "Да, все понятно! Удалить!": function () {
                            jQuery(this).dialog("close");

                            var waitDialogue = jQuery('#js_book_delete_dialog_please_wait').dialog({
                                title: 'Удаляем...',
                                height: 60,
                                modal: true,
                                resizable: false,
                                closeOnEscape: false,
                                draggable: false,
                                open: function (event, ui) {
                                    jQuery(".ui-dialog-titlebar-close").toggle();
                                }
                            });

                            jQuery.ajax({
                                type: 'POST',
                                async: false,
                                url: '/books/delete/',
                                data: {'book_id': jQuery('#book-id').attr('value')},
                                error: function (jqXHR, textStatus, errorThrown) {
                                    var resp = jQuery.parseJSON(jqXHR.responseText);
                                    jQuery(".ui-dialog-titlebar-close").toggle();
                                    waitDialogue.dialog('close');

                                    jQuery('.js_book_state_error').find('span').html(responseText.message);
                                    jQuery('.js_book_state_error').show();
                                },
                                success: function (data, textStatus, jqXHR) {

                                    if (data.code == 'deleted') {
                                        location.href = '/books/';
                                    }
                                }
                            });

                        },
                        "Нененене": function () {
                            jQuery(this).dialog("close");
                        }
                    }
                });
            });

            jQuery('#js_authors_select2').select2({
                placeholder: "Выберете автора",
                minimumInputLength: 1,
                multiple: true,
                ajax: {
                    url: "{{ path('sc_books_admin_get_authors') }}",
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (term, page) { // page is the one-based page number tracked by Select2
                        return {
                            q: term, //search term
                            page_limit: 10, // page size
                            page: page // page number
                        };
                    },
                    results: function (data, page) {
                        //console.log(data.id);
                        //var more = (page * 10) < data.total; // whether or not there are more results available

                        // notice we return the value of more so Select2 knows if more results can be loaded
                        return {results: data};
                    }
                },
                initSelection: function (element, callback) {
                    var data = [];
                    if (element.val().length > 0) {
                        $(element.val().split("_|_")).each(function (i) {
                            var item = this.split(':');
                            data.push({
                                id: item[0],
                                text: item[1]
                            });
                        });
                    }
                    callback(data);
                }
            });

            $('#js_authors_select2').select2('val', ['{{ authors }}']);

            jQuery('#book_isbns').select2({tags: []});


            jQuery('.js_files').parent('li').find('span').on('click', function () {
                var file_id = jQuery(this).parent('li:first').find('.js_files_id').val();
                var book_id = jQuery('.js_fu_book_id').val();

                var _li = jQuery(this).parent('li:first');
                jQuery.ajax({
                    type: 'POST',
                    async: false,
                    url: '/books/upload/delete/',
                    data: {'book_id': book_id, 'file_id': file_id},
                    error: function (jqXHR, textStatus, errorThrown) {
                        var resp = jQuery.parseJSON(jqXHR.responseText);
                        jQuery(".ui-dialog-titlebar-close").toggle();
                        waitDialogue.dialog('close');

                        jQuery('.js_book_state_error').find('span').html(responseText.message);
                        jQuery('.js_book_state_error').show();
                    },
                    success: function (data, textStatus, jqXHR) {
                        _li.remove();
                        if (data.code == 'DELETED-OK') {
                            //location.href = '/article/';
                        } else {
                            //alert('этого не должно быть');
                        }
                    }
                });


            });

        });
    </script>


    <form id="js_book_save_form" action="{{ path('sc_books_admin_save') }}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="span12">
                <div style="display: none;" class="js_book_state_success alert alert-success">
                    Сохранили.
                </div>

                <div style="display: none;" class="js_book_state_error alert alert-error">
                    <span></span>
                </div>

                <div style="display: none;" class="js_book_state_wait progress progress-striped active">
                    <div class="bar" style="width: 100%;">Сохраняем, подождите..</div>
                </div>
            </div>
        </div>
        <div style="display:none; font-size:14px;" id="js_book_delete_dialog_please_wait">
            <span class="js_close_timer">Ждите</span>
        </div>

        <input type="hidden" value="{{ book.id }}" id="book-id" name="book_id"/>


        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label for="book_title">Название</label>
                    <input class="form-control" id="book_title" type="text" name="book_title" value="{{ book.title }}">
                </div>

                <div class="form-group control-group">
                    <label for="js_authors_select2">Автор</label>

                    <input id="js_authors_select2" name="book_authors" class="populate form-control select2-offscreen"
                           type="hidden" style="width:94%;" tabindex="-1" multiple="multiple">
                </div>

                <div class="form-group">
                    <label for="book_origin">Источник</label>
                    <input class="form-control" id="book_origin" type="text" name="book_origin" value="{{ book.origin }}">
                </div>
                <div class="form-group">
                    <label for="book_publishing_house">Издательство</label>
                    <input class="form-control" id="book_publishing_house" type="text" name="book_publishing_house" value="{{ book.publishingHouse }}">
                </div>
                <div class="form-group">
                    <label for="book_year">Год</label>
                    <input class="form-control" id="book_year" type="text" name="book_year" value="{{ book.year }}">


                </div>
                <div class="form-group">
                    <label for="book_pages">Страниц</label>
                    <input class="form-control" id="book_pages" type="text" name="book_pages" value="{{ book.pages }}">
                </div>
                <div class="form-group">
                    <label for="book_translator">Переводчик</label>
                    <input class="form-control" id="book_translator" type="text" name="book_translator"
                           value="{{ book.translator }}">
                </div>
                <div class="form-group">
                    <label for="book_lang">Язык</label>
                    <select name="book_lang" class="form-control" id="book_lang">
                        {% for lang in langs %}
                            <option {% if (book.lang.id is defined) and (lang.id == book.lang.id) %}selected{% endif %} value="{{ lang.id }}">{{ lang.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">

                    <label for="book_isbns">ISBN</label>
                    <input id="book_isbns" class="select2-offscreen form-control" type="hidden" value="{{ book.isbns | join(',') }}" style="width:94%;" tabindex="-1" name="book_isbns">
                </div>
                <div class="form-group">
                    <label for="book_annotation">Аннотация</label>
                    <textarea class="form-control" id="book_annotation" name="book_annotation">{{ book.annotation }}</textarea>
                </div>

            </div>
            <div class="col-md-5">
                <div>
                    <img src="{{ book.coverUrl }}"
                         style="width:150px; height: 200px;">
                </div>

                <div class="form-group">
                    <input type="file" name="book_cover">
                </div>

                <style type="text/css">
                    .optionGroup {
                        font-weight: bold;
                        font-style: italic;
                    }

                    .optionChild {
                        padding-left: 15px;
                    }
                </style>

                <div class="form-check">
                    <label class="form-check-label" for="book_is_published">
                        <input class="form-check-input" id="book_is_published" type="checkbox" {% if book.isPublished %}checked{% endif %} name="book_is_published">
                        Опубликована
                    </label>
                </div>


                <div class="form-check">
                    <label class="form-check-label" for="book_is_recommended">
                        <input class="form-check-input" id="book_is_recommended" type="checkbox" {% if book.isRecommended %}checked{% endif %} name="book_is_recommended">
                        Рекомендована
                    </label>
                </div>

                <div class="form-group">
                    <label for="book_category">Раздел:</label>
                    <select class="form-control" name="book_category">
                        {% for __cat in sorted %}
                            <option {% if book.primaryCategory == __cat.parent %}selected{% endif %} class="optionGroup" value="{{ __cat.parent.id }}">{{ __cat.parent.title }}</option>
                            {% if __cat.subs is defined and __cat.subs is not empty %}
                                {% for __subs in __cat.subs %}
                                    <option {% if book.secondaryCategories[0] is defined and book.secondaryCategories[0] == __subs %}selected{% endif %} class="optionChild" value="{{ __cat.parent.id }},{{ __subs.id }}">{{ __subs.title }}</option>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <input type="submit" value="Сохранить" class="btn btn-success article-save-button"/>
                <a class="btn-link" href="{{ path('sc_books_admin') }}">вернуться к списку</a>
            </div>
            <div class="col-md-6">
                <input type="button" style="float: right;" value="Удалить"
                       class="btn btn-danger js_book_delete_button"/>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="span12">
                <div style="display: none;" class="js_book_state_success alert alert-success">
                    Сохранили.
                </div>

                <div style="display: none;" class="js_book_state_error alert alert-error">
                    <span></span>
                </div>

                <div style="display: none;" class="js_book_state_wait progress progress-striped active">
                    <div class="bar" style="width: 100%;">Сохраняем, подождите..</div>
                </div>
            </div>
        </div>
    </form>
    <br/>

    <div class="row">
        <div class="span12">
            Файлы:
            <form id="upload" method="post" action="{{ path('sc_books_admin_files_upload') }}"
                  enctype="multipart/form-data">
                <input type="hidden" class="js_fu_book_id" value="{{ book.id }}">

                <div class="row">
                    <div id="drop" class="span5">
                        Перетащите сюда файлы

                        <a>Выбрать</a>
                        <input type="file" name="upl" multiple/>
                    </div>
                    <div class="span5">
                        <ul>
                            {% for file in book.files %}
                                <li>
                                    <input type="hidden" class="js_files_id" value="{{ file.id }}">
                                    <input class="js_files" type="text" value="0" data-width="48" data-height="48" data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043"/>
                                    <p>{{ file.filename }}</p><span></span>
                                </li>
                            {% endfor %}
                            <!-- The file uploads will be shown here -->
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}