{% extends 'DarulKutubOriginBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme form.bookFile '@DarulKutubOrigin/Forms/forms.html.twig' %}


{% block title %}Админка | Редактирование книги(id: {{ book.id }}){% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">{{ form_row(form.title) }}</div>
                            <div class="col-md-12">{{ form_row(form.bookAuthor) }}</div>
                            <div class="col-md-12">{{ form_row(form.primaryCategory) }}</div>
                            <div class="col-md-12">{{ form_row(form.category) }}</div>
                            <div class="col-md-12">{{ form_row(form.publishingHouse) }}</div>

                            <div class="col-md-4">{{ form_row(form.lang) }}</div>
                            <div class="col-md-4">{{ form_row(form.year) }}</div>
                            <div class="col-md-4">{{ form_row(form.pages) }}</div>

                            <div class="col-md-12">
                                {{ form_row(form.annotation) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% if book.cover is not null %}
                    <img src="{{ book.coverPath | imagine_filter('admin_preview') }}" alt="">
                {% endif %}
                {{ form_row(form.coverFile) }}
                {{ form_row(form.isPublished) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="container">
                        {{ form_label(form.bookFile) }}
                        <div id="book_type_bookFile" data-prototype="{{ form_widget(form.bookFile.vars.prototype) | e }}">
                            {% for file in form.bookFile %}
                                {{ form_widget(file) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-12">
                {{ form_widget(form.submit) }}

                <a class="btn btn-link" href="{{ path('book_show_single', {'book_id' : book.id}) }}" target="_blank">Просмотреть на сайте</a>

            </div>
        </div>
        {{ form_widget(form._token) }}
    </div>
    </form>

{% endblock %}

{% block javascripts %}
    <script>
        $("#book_type_bookFile").collection({
            addButtonText: "{{ "Добавить том" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
        });


        $("#book_category").append('<option></option>').select2({
            'placeholder': 'Категория',
        });


        $("#book_bookAuthor").select2({
            'placeholder': 'Авторы',
        });
    </script>
{% endblock %}
