{% extends '@DarulKutubOrigin/layout.html.twig' %}

{% block title %}Админка | Список книг{% endblock %}
{% block body %}
    <style>
        td {
            position: relative;
        }

        .onsite {
            display: block;
            width: 15px;
            position: absolute;
            right: 7px;
            top: 7px;
        }

        .onsite img {
            width: 100%;
        }

    </style>
    <div class="row">
        <div class="col-md-6">
            <form action="#">
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" name="q" {% if q != '' %}value="{{ q }}"{% endif %} type="text">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" name="language" {% if language is defined %}value="{{ language }}"{% endif %} type="text" placeholder="Язык" style="width:100px">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success" type="submit">Найти</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="text-align: right;" class="col-md-6"><a href="{{ path('sc_books_admin_new') }}" class="btn btn-primary">Добавить новую книгу</a></div>
    </div>

    <table class="table table-bordered">
        <caption>Книги</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Автор</th>
            <th style="    width: 120px;">Дата</th>
            <th>Опубликовать</th>
        </tr>
        </thead>
        <tbody>
        {% for __book in pagination %}
            <tr>
                <td>
                    <a href="{{ path('sc_books_admin_edit', {id:__book.id}) }}">{{ __book.id }}</a>
                </td>
                <td>
                    <a href="{{ path('sc_books_admin_edit', {id:__book.id}) }}">{{ __book.title }}</a>
                    <a href="{{ path('book_show_single', {'book_id' : __book.id}) }}" class="onsite" target="_blank">
                        <img src="{{ asset('static/images/25284.png') }}" alt="На сайт">
                    </a>
                </td>
                <td>{% for _author in  __book.bookAuthor %}{{ _author.name }}{% endfor %}</td>
                <td>{{ __book.createdAt | date("Y-m-d H:i:s") }}</td>
                <td>
                    {% if __book.isPublished %}
                        <a href="{{ path('sc_books_toggle_publish', {'id':__book.id}) }}" class="btn btn-danger toggle_publish">{{ 'Нет' }}</a>
                    {% else %}
                        <a href="{{ path('sc_books_toggle_publish', {'id':__book.id}) }}" class="btn btn-success toggle_publish">{{ 'Да' }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    {{ knp_pagination_render(pagination) }}

    <script>
        $(document).on('click', '.toggle_publish', function () {
            event.preventDefault();
            var that = $(this);
            $.ajax({
                url: that.attr('href'),
                type: 'GET',
                success: function (response) {
                    if (response.status) {
                        that.removeClass('btn-success').addClass('btn-danger').text('Нет');
                    } else {
                        that.removeClass('btn-danger').addClass('btn-success').text('Да');

                    }
                }
            });

            return false;
        })
    </script>
{% endblock %}
