{% extends '@DarulKutubOrigin/layout.html.twig' %}

{% block title %}Админка | Список книг{% endblock %}
{% block body %}


    <table>
        <tbody>
        <tr>
            <td></td>
            <td>Книг</td>
            <td>Томов</td>
        </tr>
        <tr>
            <td>Всего</td>
            <td>{{ bookStats.booksTotal }}</td>
            <td>{{ bookStats.filesTotal }}</td>
        </tr>
        <tr>
            <td>Опубликовано</td>
            <td>{{ bookStats.booksPublished }}</td>
            <td>{{ bookStats.filesPublished }}</td>
        </tr>
        </tbody>
    </table>


{% endblock %}
