{% extends "DarulKutubApplicationBundle::base.html.twig" %}

{% block title %}Электронная библиотека "Дар аль-кутуб" -  О проекте{% endblock %}

{% block body %}

    {% include '@DarulKutubApplication/_header.html.twig' with {'header_class':'', 'newPath' : 'new_books', 'aboutPath': 'about'} %}

    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-9">
<div class="article">
            <h1 class="article__header">
                Политика конфиденциальности
            </h1>

            <div class="article__text">
                <p><span style="font-weight:bold;">Принципы защиты персональных данных в компании ИД «Хузур»</span></p>
<p>Компания ИД «Хузур» очень серьезно относится к защите персональных данных. Следующие пять принципов лежат в основе нашего подхода к конфиденциальности:</p>
<ol>
<li>Мы ценим доверие, которое Вы оказываете нам, предоставляя Вашу личную информацию. Мы всегда будем использовать Вашу личную информацию честным и достойным доверия путем.</li>
<li>Вы имеете право получить достоверную информацию о том, как мы используем Ваши персональные данные. Для Вас должно всегда быть понятным то, какую информацию мы собираем, что мы с ней делаем, с кем мы делимся ею, и к кому следует обратиться, если у Вас возникли какие-либо проблемы.</li>
<li>Если у Вас возникли какие-либо вопросы о том, как мы используем Вашу личную информацию, мы будем рады ответить на них.</li>
<li>Мы предпримем все необходимые меры для защиты личной информации от неправомерного использования и сохраним ее в безопасном месте.</li>
<li>Мы будем соблюдать все действующие законы и правила о защите данных и сотрудничать со службами по защите данных. При отсутствии законодательства о защите данных, мы будем действовать в соответствии с общепринятыми принципами защиты данных.</li>
</ol>
<p><span style="font-weight:bold;">Политика конфиденциальности в компании ИД «Хузур»</span></p>
<p>Компания ИД «Хузур» стремится сохранить конфиденциальность Ваших личных данных и обеспечить защиту Вашей личной информации. Данная Политика конфиденциальности определяется тем, какие типы личной информации мы собираем, как мы ее используем, раскрываем и защищаем.</p>
<p><span style="font-weight:bold;">Область применения политики конфиденциальности компании ИД «Хузур»</span></p>
<p>Политика конфиденциальности распространяется на личную информацию, собранную ИД «Хузур», в связи с услугами, которые мы предлагаем. Эта информация включает в себя данные, собранные в режиме, а также в режиме онлайн через наши веб-сайты: Портал Ислам Тудей – <a href="http://islam-today.ru/">http://islam-today.ru/</a>, сайт ИД «Хузур» <a href="http://huzur.ru/">http://huzur.ru/</a> и других сайтов, находящихся в ведении сайт ИД «Хузур». Полный список сайтов можно найти на главной странице сайта <a href="http://huzur.ru/">http://huzur.ru/</a></p>
<p>Политика конфиденциальности является неотъемлемой частью правил и условий использования веб-сайта компании ИД «Хузур». Дополнительную информацию о компании ИД «Хузур», которая несет ответственность за защиту личной информации, Вы можете найти в разделе Правовая информация <a href="http://huzur.ru/legal">http://huzur.ru/legal/</a></p>
<p>Политики конфиденциальности распространяется на:</p>
<ul>
<li>информацию, собранную со сторонних веб-сайтов, платформ и / или приложений&nbsp; которые мы не контролируем;</li>
<li>информацию, собранную на сайтах, принадлежащим третьим лицам, доступ к которым Вы получили, перейдя по ссылке на сайтах компании ИД «Хузур»</li>
<li>баннеры или другие объявления и рекламные акции, которые мы можем финансировать или участвовать на сайтах третьих лиц.</li>
</ul>
<p>Сторонние сайты могут иметь свою собственную политику конфиденциальности, условия и правила использования информации. Мы рекомендуем Вам ознакомиться с ними, прежде чем пользоваться сайтами третьих лиц.</p>
<p><span style="font-weight:bold;">Ваше согласие</span></p>
<p>Мы не будем собирать, использовать или раскрывать Вашу личную информацию без Вашего согласия. Пользуясь порталом Ислам-Тудей и другими сайтами компании ИД «Хузур», Вы тем самым даете согласие на сбор, использование и раскрытие Вашей личной информации компанией ИД «Хузур» в соответствии с данной Политикой конфиденциальности.</p>
<p>Мы можем дополнительно просить Вашего согласия на использование Вашей личной информации для целей, на которые данная Политика конфиденциальности не распространяется. Вы не обязаны соглашаться, но если Вы решите не давать своего согласия, Ваше участие в определенных мероприятиях может быть ограничено. Если Вы даете свое согласие на дополнительные условия, они должны превалировать в случае их расхождения с условиями настоящей Политики конфиденциальности.</p>
<p>Если Вы не согласны на сбор, использование и раскрытие Вашей личной информации таким образом, пожалуйста, не используйте сайты компании ИД «Хузур» или предоставьте личную информацию компании ИД «Хузур» другим способом.</p>
<p><span style="font-weight:bold;">Как мы используем полученную информацию</span></p>
<p>Мы можем использовать информацию о Вас для того, чтобы:</p>
<ul>
<li>улучшить качество наших продуктов и работу сайтов компании ИД «Хузур»</li>
<li>оценить использование сайтов, продуктов и услуг ИД «Хузур»</li>
<li>оценить эффективность нашей рекламы</li>
<li>индивидуализировать Вашу работу с нашим сайтом и составить анонимную статистику поведения посетителя на сайте, включая время посещение сайта, предыдущие посещения сайта, адрес сайта, который отослал Вас на сайт компании ИД «Хузур» и т.п.</li>
<li>упростить использование сайтов ИД «Хузур»</li>
<li>ускорить работу с сайтом в будущем. Например, сайт распознает, что Вы предоставили личную информацию ранее, и не будет запрашивать ту же информацию во второй раз</li>
<li>собрать информацию об используемом Вами устройстве для просмотра сайтов компании ИД «Хузур», включая IP-адрес, тип интернет-браузера или операционной системы, и связать ее с Вашей личной информацией для того, чтобы обеспечить самый высокий уровень работы в сети</li>
</ul>
<p><span style="font-weight:bold;">Распространение личной информации</span></p>
<p>Мы не распространяем Вашу личную информацию за рамками компании ИД «Хузур». Однако, передача Ваших личных данных третьим сторонам, возможна, если это:</p>
<ul>
<li>Правоохранительные органы либо государственные власти, ведущие расследование в рамках судебного процесса, требующего от нас раскрытия информации;</li>
<li>Третьи стороны, желающим отправлять Вам информацию о своих товарах и услугах, но только в случае получения нами Вашего согласия;</li>
<li>Сайты компании ИД «Хузур» могут использоваться провайдерами Интернет, хостерами сайтов для сбора собственной информации о посетителях сайтов.</li>
</ul>
<p>Мы также можем передавать Ваши личные данные сторонним компаниям, организациям или отдельным лицам, если посчитаем раскрытие данной информации необходимым по причинам юридического характера.</p>
<p><span style="font-weight:bold;">Обеспечение защиты конфиденциальной информации</span></p>
<p>Мы предпринимаем все разумные меры предосторожности для сохранности Ваших личных данных и требуем того же от третьих лиц, которые анализируют или обрабатывают ваши персональные данные для нас. Доступ к Вашим личным данным ограничен в целях предотвращения несанкционированного доступа, изменения или неправомерного использования, и разрешен только для наших сотрудников и агентов на основе принципа служебной необходимости.</p>
<p><span style="font-weight:bold;">Изменения в политике конфиденциальности</span></p>
<p>Последние изменения в политике конфиденциальности компании ИД «Хузур» – <span style="font-weight:bold;">31.12.2014</span></p>
<p>По мере необходимости мы можем изменить Политику конфиденциальности путем размещения ее обновленной версии на сайтах компании ИД «Хузур». Мы призываем Вас как можно чаще посещать наши ресурсы, чтобы быть в курсе того, как мы используем вашу личную информацию.</p>
<p>В качестве дополнения к данной Политике конфиденциальности могут существовать отдельные кампании и рекламные акции на сайтах компании ИД «Хузур», которые будут регулироваться дополнительными условиями конфиденциальности или политикой. Мы рекомендуем Вам ознакомиться с этими дополнительными условиями или политикой, прежде чем принимать в них участие, так как Вы будете обязаны их соблюдать. Любые дополнительные условия конфиденциальности или политики будут находиться в открытом доступе.</p>
<p style="text-align: right;"><em>С уважением,</em></p>
<p style="text-align: right;"><em>Издательский Дом «Хузур» <a href="http://huzur.ru/">http://huzur.ru/</a></em></p>
<p style="text-align: right;"><em>собственник информационно-аналитического федерального портала <a href="http://islam-today.ru/">http://islam-today.ru/</a></em></p>

            </div>
        </div>
            </div>
        </div>
    </div>
{% endblock %}
