{% extends "@DarulKutubApplication/base.html.twig" %}

{% block title %}Электронная библиотека "Дар аль-кутуб"{% endblock %}



{% block content %}

    <div id="results">
        {% include '@DarulKutubApplication/_header.html.twig' with {'header_class':'visible-desktop','aboutPath': 'about', 'newPath':'new_books'} %}

        <div class="container results-container">
            <div class="row">
                <div class="col-md-4 col-12" style="position: relative;">
                    <div class="query">
                        <span>{{ query[:10] }}</span>
                    </div>
                    <div class="result-meta">
                        <span class="count">{{  pagination.totalItemCount }}</span>
                        <span>{{ 'Книг' | trans }}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-8 col-12 search-results">
                    {% for __book in pagination %}
                        <div class="book">
                            <a href="{{ path('book_show_single', { 'book_id' : __book.id }) }}">
                                <img class="img-fluid" src="{{ __book.coverPath | imagine_filter('search_page') }}" alt="{{ __book.title }}">
                            </a>
                            <a href="{{ path('book_show_single', { 'book_id' : __book.id }) }}" class="title">
                                {{ __book.title }}
                            </a>
                        </div>
                    {% endfor %}
                    {{ knp_pagination_render(pagination) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}