{% extends "SCUserBundle::layout.html.twig" %}

{% block login %}

    <div class="login">
        <h1>Админка</h1>
        <form method="post" action="{{ path('_security_check') }}">
            <p><input type="text" id="username" name="_username" value="" placeholder="Имя пользователя"></p>
            <p><input type="password" id="password" name="_password" placeholder="Пароль"></p>
            <p class="remember_me">
                <label>
                    <input type="checkbox" name="remember_me" id="remember_me">
                    Запомнить меня
                </label>
            </p>
            <p class="submit"><input type="submit" name="login" value="Заходи"></p>
        </form>
    </div>

{% endblock %}