{%- block book_file_widget -%}

    {% spaceless %}
        <div class="row" {{ block('widget_container_attributes') }}>
            {% set count = (form | length) + 1 %}
            {% for child in form %}
                {% set col = loop.index == 1 ? 3 : 2 %}
                <div class="col-md-{{ col }}">
                    {{ form_row(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}

{%- endblock book_file_widget -%}

{% block file_widget %}
    {% spaceless %}
        <input type="file" {{ block('widget_attributes') }}/>
        {% if file_url is not null %} <span style="font-size:8px;">{{ file_date | date("Y-m-d H:i:s") }}</span>  <a style="font-size:8px;" target="_blank" href="//darul-kutub.com/uploads/books{{ asset(file_url) }}">{{ asset(file_url) |slice(0, 10) ~ '...'}}</a>{% endif %}
    {% endspaceless %}
{% endblock %}
