{% extends '@DarulKutubOrigin/layout.html.twig' %}

{% block title %}Админка | Редактирование категории(id: {{ category.id }}){% endblock %}

{% block body %}



    <script src="{{ asset('static/javascripts/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('static/javascripts/jquery.form.js') }}"></script>
    <script src="{{ asset('static/javascripts/vendor/jquery-ui.min.js') }}"></script>

    <script type="text/javascript">
        jQuery(function () {
            jQuery('#js_category_save_form').ajaxForm({
                beforeSubmit: function checkFormData(formData, jqForm, options) {
                    if (jQuery('#category_title').val() == '') {
                        jQuery('.js_category_state_error').show();
                        jQuery('.js_category_state_error').find('span').html('Название не может быть пустым');
                        return false;
                    }

                    jQuery('.js_category_state_error').hide();
                    jQuery('.js_category_state_success').hide();
                    jQuery('.js_category_state_wait').show();
                    return true;
                },
                success: function showResponse(responseText, statusText) {
                    jQuery('.js_category_state_wait').hide();

                    if (responseText.code == 'saved') {
                        jQuery('.js_category_state_success').show(0).animate({
                            opacity: 0.25
                        }, 3000, 'linear', function () {
                            jQuery(this).hide("slide", { direction: "up" }, 3000);
                        });
                    } else {

                        jQuery('.js_category_state_error').find('span').html(responseText.message);
                        jQuery('.js_category_state_error').show();
                    }
                    return;
                }
            });

            jQuery('.js_category_delete_button').bind('click', function (ev) {
                ev.stopPropagation();
                ev.preventDefault();

                jQuery(".js_delete_dialog").dialog({
                    title: 'Удалить?',
                    width: '600',
                    modal: true,
                    buttons: {
                        "Да, все понятно! Удалить!": function () {
                            jQuery(this).dialog("close");

                            var waitDialogue = jQuery('#js_category_delete_dialog_please_wait').dialog({
                                title: 'Удаляем...',
                                height: 60,
                                modal: true,
                                resizable: false,
                                closeOnEscape: false,
                                draggable: false,
                                open: function (event, ui) {
                                    jQuery(".ui-dialog-titlebar-close").toggle();
                                }
                            });

                            jQuery.ajax({
                                type: 'POST',
                                async: false,
                                url: '{{ path('sc_category_admin_delete') }}',
                                data: {'category_id': jQuery('#category-id').attr('value') },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    var resp = jQuery.parseJSON(jqXHR.responseText);
                                    jQuery(".ui-dialog-titlebar-close").toggle();
                                    waitDialogue.dialog('close');

                                    jQuery('.js_category_state_error').find('span').html(responseText.message);
                                    jQuery('.js_category_state_error').show();
                                },
                                success: function (data, textStatus, jqXHR) {

                                    if (data.code == 'deleted') {
                                        location.href = '{{ path('sc_category_admin') }}';
                                    } else {
                                        alert('этого не должно быть');
                                    }
                                }
                            });

                        },
                        "Нененене": function () {
                            jQuery(this).dialog("close");
                        }
                    }
                });
            });

            var isSelectNewPic = false;

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    var width = 0;
                    var height = 0;
                    var orig_width = 0;
                    var orig_height = 0;
                    var ko = 1;
                    var image = new Image();

                    reader.onload = function (e) {
                        image.src = e.target.result;

                        image.onload = function() {
                            // access image size here
                            //width = 570;

                            //ko = this.width / this.height;

                            //height = parseInt(width / ko);
                            orig_width = this.width;
                            orig_height = this.height;

                            jQuery('.js_pic_full').attr('src', e.target.result);
                            jQuery('.js_pic_full').css('width', orig_width);
                            jQuery('.js_pic_full').css('height', orig_height);


                            jQuery('.js_pic_full').Jcrop({
                                onChange: showPreview,
                                onSelect: updateCoords,
                                aspectRatio: {{ ratio }}
                            });
                        };


                    }

                    function updateCoords(coords) {
                        isSelectNewPic = true;
                        //rx = orig_width / width;
                        //ry = orig_height / height;
                        jQuery('.ava_x').val(parseInt(coords.x));
                        jQuery('.ava_y').val(parseInt(coords.y));
                        jQuery('.ava_w').val(parseInt(coords.w));
                        jQuery('.ava_h').val(parseInt(coords.h));
                    }

                    function showPreview(coords)
                    {
                        jQuery('#js_pic').attr('src', image.src);

                        var rx = '{{ width }}' / coords.w;
                        var ry = '{{ height }}' / coords.h;

                        $('#js_pic').css({
                            width: Math.round(rx * orig_width) + 'px',
                            height: Math.round(ry * orig_height) + 'px',
                            marginLeft: '-' + Math.round(rx * coords.x) + 'px',
                            marginTop: '-' + Math.round(ry * coords.y) + 'px'
                        });
                    }


                    reader.readAsDataURL(input.files[0]);
                }
            }


            jQuery('#js_modal_pic_save').on('click', function(ev) {
                ev.stopPropagation();
                ev.preventDefault()

                if (isSelectNewPic == false) {
                    jQuery('.js_area_not_selected').show();
                    return false;
                }

                JcropAPI = $('.js_pic_full').data('Jcrop');
                JcropAPI.destroy();
                $('#js_select_pic_preview').modal('hide');
            })


            jQuery('#js_category_pic').change(function(e){
                isSelectNewPic = false;
                $('#js_select_pic_preview').modal('show');
                jQuery('.js_area_not_selected').hide();
                readURL(this);
                jQuery('.js_pic').html(jQuery(this).val());

            });

        });
    </script>


<form id="js_category_save_form" action="{{ path('sc_category_admin_save') }}" method="post">
    <div class="row">
        <div class="col-md-12">
            <div style="display: none;" class="js_category_state_success alert alert-success">
                Сохранили.
            </div>

            <div style="display: none;" class="js_category_state_error alert alert-error">
                <span></span>
            </div>

            <div style="display: none;" class="js_category_state_wait progress progress-striped active">
                <div class="bar" style="width: 100%;">Сохраняем, подождите..</div>
            </div>
        </div>
    </div>
    <div style="display:none; font-size:14px;" id="js_category_delete_dialog_please_wait"><span
                class="js_close_timer">Ждите</span>
    </div>

    <input type="hidden" value="{{ category.id }}" id="category-id" name="category_id"/>

    <div class="row">
        <div class="col-md-7">
            <label for="category_title">Название</label>
            <input class="form-control" id="category_title" type="text" name="category_title" value="{{ category.title }}">
            <label>Родительский раздел</label>
            <select class="form-control"  name="category_parent_id">
                <option value="0">---</option>
                {% for __cat in firstLevelCats %}
                    {% if category.id != __cat.id %}
                        <option {% if category.parentId == __cat.id %}selected="selected"{% endif %} value="{{ __cat.id }}">{{ __cat.title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <div style="width: {{ width }}px; height: {{ height }}px; overflow: hidden;">
                <img id="js_pic" style="max-width: none;" src="{% if category.hasPic == false %}{{ asset('bundles/islamtodayorigin/images/no_cover.gif') }}{% else %}{{ category.picUrl }}{% endif %}">
            </div>
            <input type="hidden" name="coords[x]" class="ava_x" value="">
            <input type="hidden" name="coords[y]" class="ava_y" value="">
            <input type="hidden" name="coords[w]" class="ava_w" value="">
            <input type="hidden" name="coords[h]" class="ava_h" value="">

            <br><br>
            <input type="file" name="category_pic" id="js_category_pic">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
           Описание:
            <textarea class="form-control" name="category_descr">{{ category.descr }}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Meta title:
            <input class="form-control"  type="text" name="category_meta_title" value="{{ category.meta.title }}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Meta description:
            <textarea class="form-control"  name="category_meta_descr">{{ category.meta.descr }}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Meta keywords:
            <input class="form-control"  type="text" name="category_meta_keywords" value="{{ category.meta.keywords }}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Path:
            <input class="form-control"  type="text" name="category_path" value="{{ category.path }}">
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-md-6">
            <button type="submit"  class="btn btn-success article-save-button"/>Сохранить</button>

            <a href="{{ path('sc_category_admin') }}" class="btn btn-link">вернуться к списку</a>
        </div>
        <div class="col-md-6">
            <input type="button" style="float: right;" value="Удалить" class="btn btn-danger js_category_delete_button"/>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <div style="display: none;" class="js_category_state_success alert alert-success">
                Сохранили.
            </div>

            <div style="display: none;" class="js_category_state_error alert alert-error">
                <span></span>
            </div>

            <div style="display: none;" class="js_category_state_wait progress progress-striped active">
                <div class="bar" style="width: 100%;">Сохраняем, подождите..</div>
            </div>
        </div>
    </div>


    <div id="js_select_pic_preview" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Создаем превьюху</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error js_area_not_selected" style="display: none;">
                Выберете область для превьюхи
            </div>
            <img src="" class="js_pic_full">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            <button class="btn btn-primary" id="js_modal_pic_save">Сохранить</button>
        </div>
    </div>

    <div class="js_delete_dialog" style="display: none;">
        Вы уверены, что хотите удалить?
    </div>
{% endblock %}