{% extends '@DarulKutubOrigin/layout.html.twig' %}

{% block title %}Админка | Список разделов{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
        </div>
        <div style="text-align: right;" class="col-md-6">
            <a href="{{ path('sc_category_admin_new') }}" class="btn btn-primary">Добавить новой раздел</a>
        </div>
    </div>

    <ul>
    {% for __cat in pagination %}
        <li>
            <a href="{{ path('sc_category_admin_edit', {id:__cat.parent.id}) }}">{% if __cat.parent.title is not empty %}{{ __cat.parent.title }}{% else %}!!!{{ __cat.parent.id }}!!!{% endif %}</a>

            {% if __cat.subs is defined and __cat.subs is not empty %}
                <ul>
                    {% for __subs in __cat.subs %}
                        <li><a href="{{ path('sc_category_admin_edit', {id:__subs.id}) }}">{% if __subs.title is not empty %}{{ __subs.title }}{% else %}!!!{{ __subs.id }}!!!{% endif %}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <br />

    {{ knp_pagination_render(pagination) }}
{% endblock %}

