{% extends '@DarulKutubOrigin/layout.html.twig' %}

{% block title %}Админка | Редактирование автора(id: {{ author.id }}){% endblock %}

{% block body %}


    <script src="{{ asset('static/javascripts/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('static/javascripts/jquery.form.js') }}"></script>

    <script type="text/javascript">
        jQuery(function () {
            jQuery('#js_author_save_form').ajaxForm({
                beforeSubmit: function checkFormData(formData, jqForm, options) {
                    if (jQuery('#author_fio').val() == '') {
                        jQuery('.js_author_state_error').show();
                        jQuery('.js_author_state_error').find('span').html('Имя не может быть пустым');
                        return false;
                    }

                    jQuery('.js_author_state_error').hide();
                    jQuery('.js_author_state_success').hide();
                    jQuery('.js_author_state_wait').show();
                    return true;
                },
                success: function showResponse(responseText, statusText) {
                    jQuery('.js_author_state_error').hide();
                    jQuery('.js_author_state_success').hide();
                    jQuery('.js_author_state_wait').hide();

                    if (responseText.code == 'saved') {
                        jQuery('.js_author_state_success').show(0).animate({
                            opacity: 0.25
                        }, 3000, 'linear', function () {
                            jQuery(this).hide("slide", {direction: "up"}, 3000);
                        });
                    } else {

                        jQuery('.js_author_state_error').find('span').html(responseText.message);
                        jQuery('.js_author_state_error').show();
                    }
                    return;
                }
            });

            jQuery('.js_author_delete_button').bind('click', function (ev) {
                ev.stopPropagation();
                ev.preventDefault();

                jQuery(".js_delete_dialog").dialog({
                    title: 'Удалить?',
                    width: '600',
                    modal: true,
                    buttons: {
                        "Да, все понятно! Удалить!": function () {
                            jQuery(this).dialog("close");

                            var waitDialogue = jQuery('#js_author_delete_dialog_please_wait').dialog({
                                title: 'Удаляем...',
                                height: 60,
                                modal: true,
                                resizable: false,
                                closeOnEscape: false,
                                draggable: false,
                                open: function (event, ui) {
                                    jQuery(".ui-dialog-titlebar-close").toggle();
                                }
                            });

                            jQuery.ajax({
                                type: 'POST',
                                async: false,
                                url: '{{ path('sc_books_admin_authors_delete') }}',
                                data: {'author_id': jQuery('#author-id').attr('value')},
                                error: function (jqXHR, textStatus, errorThrown) {
                                    var resp = jQuery.parseJSON(jqXHR.responseText);
                                    jQuery(".ui-dialog-titlebar-close").toggle();
                                    waitDialogue.dialog('close');

                                    jQuery('.js_author_state_error').find('span').html(responseText.message);
                                    jQuery('.js_author_state_error').show();
                                },
                                success: function (data, textStatus, jqXHR) {

                                    if (data.code == 'deleted') {
                                        location.href = '{{ path('sc_books_admin_authors') }}';
                                    } else {
                                        waitDialogue.dialog('close');

                                        jQuery('.js_author_state_error').find('span').html(data.message);
                                        jQuery('.js_author_state_error').show();
                                    }
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    waitDialogue.dialog('close');

                                    jQuery('.js_author_state_error').find('span').html('У этого автора есть книги, сначала удалите их');
                                    jQuery('.js_author_state_error').show();
                                }
                            });

                        },
                        "Нененене": function () {
                            jQuery(this).dialog("close");
                        }
                    }
                });
            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    var width = 0;
                    var height = 0;
                    var orig_width = 0;
                    var orig_height = 0;
                    var ko = 1;

                    reader.onload = function (e) {
                        var image = new Image();
                        image.src = e.target.result;

                        image.onload = function () {
                            // access image size here
                            width = 570;

                            ko = this.width / this.height;

                            height = parseInt(width / ko);
                            orig_width = this.width;
                            orig_height = this.height;


                            //console.log(height);
                            jQuery('.js_ava_full').attr('src', e.target.result);
                            jQuery('.js_ava_full').css('width', width);
                            jQuery('.js_ava_full').css('height', height);
                            jQuery('#js_ava_preview').attr('src', e.target.result);

                            jQuery('.js_ava_full').Jcrop({
                                onChange: showPreview,
                                onSelect: updateCoords,
                                aspectRatio: 1
                            });
                        };


                    }

                    function updateCoords(coords) {
                        rx = orig_width / width;
                        ry = orig_height / height;
                        jQuery('.ava_x').val(parseInt(coords.x * rx));
                        jQuery('.ava_y').val(parseInt(coords.y * ry));
                        jQuery('.ava_w').val(parseInt(coords.w * rx));
                        jQuery('.ava_h').val(parseInt(coords.h * ry));
                    }

                    function showPreview(coords) {
                        var rx = 145 / coords.w;
                        var ry = 145 / coords.h;

                        $('#js_ava_preview').css({
                            width: Math.round(rx * width) + 'px',
                            height: Math.round(ry * height) + 'px',
                            marginLeft: '-' + Math.round(rx * coords.x) + 'px',
                            marginTop: '-' + Math.round(ry * coords.y) + 'px'
                        });
                    }


                    reader.readAsDataURL(input.files[0]);
                }
            }


            jQuery('#js_ava_input').change(function (e) {
                readURL(this);
                jQuery('.js_ava_full').html(jQuery(this).val());
            });

        });
    </script>


    <form id="js_author_save_form" action="{{ path('sc_books_admin_authors_save') }}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <div style="display: none;" class="js_author_state_success alert alert-success">
                    Сохранили.
                </div>

                <div style="display: none;" class="js_author_state_error alert alert-error">
                    <span></span>
                </div>

                <div style="display: none;" class="js_author_state_wait progress progress-striped active">
                    <div class="bar" style="width: 100%;">Сохраняем, подождите..</div>
                </div>
            </div>
        </div>
        <div style="display:none; font-size:14px;" id="js_author_delete_dialog_please_wait"><span class="js_close_timer">Ждите</span>
        </div>

        <input type="hidden" value="{{ author.id }}" id="author-id" name="author_id"/>

        <div class="row">
            <div class="col-md-6">
                <div style="width: 145px; height: 145px; overflow: hidden;">
                    <img style="max-width: none;" id="js_ava_preview" src="{{ author.avaUrl }}">
                </div>
                <input type="hidden" name="coords[x]" class="ava_x" value="">
                <input type="hidden" name="coords[y]" class="ava_y" value="">
                <input type="hidden" name="coords[w]" class="ava_w" value="">
                <input type="hidden" name="coords[h]" class="ava_h" value="">
                <label for="author_fio">ФИО:</label>
                <input id="author_fio" type="text" class="form-control" name="author_fio" value="{{ author.name }}">
                Биография:
                <textarea style="width: 100%; height: 100px;" class="form-control" name="author_bio">{{ author.bio }}</textarea>
            </div>
            <div class="col-md-6">
                <img style="border: 1px dashed lightsteelblue" src="http://ivanurgant.com/wp-content/uploads/2010/04/Ruslan-R-368-145x145.jpg"
                     style="width:100%; height: 340px;" class="js_ava_full">
                <br/><br/>
                <input type="file" name="author_ava" id="js_ava_input">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <input type="submit" value="Сохранить" class="btn btn-success article-save-button"/>
                <a href="{{ path('sc_books_admin_authors') }}" class="">вернуться к списку</a>
            </div>
            <div class="col-md-6">
                <input type="button" style="float: right;" value="Удалить" class="btn btn-danger js_author_delete_button"/>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-12">
                <div style="display: none;" class="js_author_state_success alert alert-success">
                    Сохранили.
                </div>

                <div style="display: none;" class="js_author_state_error alert alert-error">
                    <span></span>
                </div>

                <div style="display: none;" class="js_author_state_wait progress progress-striped active">
                    <div class="bar" style="width: 100%;">Сохраняем, подождите..</div>
                </div>
            </div>
        </div>

        <div class="js_delete_dialog" style="display: none;">
            Вы уверены, что хотите удалить?
        </div>

{% endblock %}