{% extends '@DarulKutubOrigin/layout.html.twig' %}

{% block title %}Админка | Список авторов{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <form action="#">
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" name="q" {% if q != '' %}value="{{ q }}"{% endif %} type="text">
                    </div>
                    <div class="col-md-6">
                        <input class="btn btn-success" type="submit" value="Найти">
                    </div>
                </div>
            </form>
        </div>
        <div style="text-align: right;" class="col-md-6">
            <a href="{{ path('sc_books_admin_authors_new') }}" class="btn btn-primary">Добавить нового автора</a>
        </div>
    </div>

    <table class="table table-bordered">
        <caption>Авторы</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>Фио</th>
        </tr>
        </thead>
        <tbody>
        {% for __author in pagination %}
            <tr>
                <td><a href="{{ path('sc_books_admin_authors_edit', {id:__author.id}) }}">{{ __author.id }}</a></td>
                <td><a href="{{ path('sc_books_admin_authors_edit', {id:__author.id}) }}">{{ __author.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />
    {{ knp_pagination_render(pagination) }}
{% endblock %}
