{% extends "DarulKutubApplicationBundle::base.html.twig" %}

{% block title %}Электронная библиотека "Дар аль-кутуб" -  О проекте{% endblock %}

{% block body %}

    {% include '@DarulKutubApplication/_header.html.twig' with {'header_class':'', 'aboutPath': 'modern_about', 'newPath': 'modern_new'} %}

    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-9">
                <p>
                    {{ 'Проект активно развивается с целью сохранить богатейшее татарское богословское наследие, обеспечить мусульман доступными и авторитетными источниками ханафитского мазхаба, а также сформировать правильные представления об Исламе.' | trans }}
                </p>
                <p style="margin-top: 50px;">{{ 'Каталог всех наших книг современной литературы' | trans }}</p>
                <p>
                    <a href="{{ path('modern_catalog') }}" class="get-catalog">{{ 'Скачать' | trans }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
