{% extends "@DarulKutubApplication/base.html.twig" %}

{% block title %}Электронная библиотека "Дар аль-кутуб"{% endblock %}

{% block body_class %}index{% endblock %}

{% block content %}

    <div id="index">
        {% include '@DarulKutubApplication/_header.html.twig' with {'header_class':'', 'newPath' : 'modern_new', 'aboutPath': 'modern_about'} %}

        <div class="container search-container">
            <div class=" title">
                    <span>
                        {{ 'электронная библиотека' | trans }}
                    </span>
            </div>
            <div class=" subtitle">
                    <span>
                        {{ 'современной исламской литературы' | trans }}
                    </span>
            </div>
            <div class="row search">
                <div class="col-md-10 offset-md-1">
                    <div id="search">
                        <form action="{{ path('search') }}">
                            <div class="author">
                                <input type="text" name="author" id="author" placeholder="{{ 'Автор' | trans }}">
                            </div>
                            <div class="title">
                                <input type="text" name="title" id="title" placeholder="{{ 'Название' | trans }}">
                            </div>
                            <div class="category">
                                <select type="text" name="category" style="width: 100%; height: 50px;" id="category" placeholder="{{ 'Категории' | trans }}">
                                    <option></option>
                                    {% for __cat in categories %}
                                        <option value="{{ __cat.id }}">{{ __cat.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="search-button">
                                <button>{{ 'Поиск' | trans }}</button>
                            </div>
                            <input type="hidden" name="primary" value="{{ primaryCatId }}">
                        </form>
                    </div>
                    <a href="/search/?author=&title=&category=&primary=30&order=DESC" class="book-count">{{ 'Всего  книг' | trans }}: {{ bookCount }}</a>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 offset-md-2    ">
                    <a href="{{ path('index') }}" class="category-button inactive">
                        {{ 'Татарское богословское наследие' }}
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('modern') }}" class="category-button">
                        {{ 'Современная литература' }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% include '@DarulKutubApplication/_footer.html.twig' %}


{% endblock %}

{% block javascripts %}
    <script>
        $("#category").select2({
            placeholder: "{{ 'Категория' | trans }}",
            minimumResultsForSearch: Infinity,
            dropdownAutoWidth: true,
            templateResult: formatCategory
        });
    </script>
{% endblock %}
