/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);

$black: #333;
$blue: #3399cc;

.blue { color: $blue !important; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  //---------
  background: url(../images/body-bg.png) repeat;
  font: normal 14px/20px Arial, sans-serif;
}

p {
  a {
    text-decoration: underline;
  }
}

a {
  &.pop {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    //---------
    text-decoration: none !important;
    &:hover {
      //border-bottom-style: solid;
    }
  }

  &.flat {
    color: $black;
    font-style: italic;
    text-decoration: underline;
  }
}

header {
  .logo {
    float: left;
  }

  .line-search {
    width: 650px;
    float: right;
    margin-top: 15px;

    .m_email {
      float: right;
      margin-top: 7px;
      //---------
      font-size: 16px;
      font-weight: bold;
    }

    .m_icon {
      vertical-align: bottom;
      margin-right: .4em;
    }

    nav {
      ul {
        float: left;
        margin: 0 0 0 12px;
        list-style: none;
        //---------
        font-size: 0;
        li {
          @include inline-block;
          vertical-align: bottom;

          margin-right: 24px;
          &:last-child {
            margin-right: 0;
          }
          //---------
          font-size: 14px;
          color: $black;

          a {
            color: $black;
            text-decoration: underline;
            vertical-align: bottom;
          }
        }
      }
    }

    .head-search {
      clear: both;
      margin: 5px 0 0 0;
      padding: 10px 12px 2px;
      //---------
      background: #dcdcdc;
      @include border-radius(5px);

      .search-table {
        width: 100%;

        .search-input {
          input {
            margin: 0;
            height: 36px;
            //---------
            @include border-radius(4px);
            background-color: #fff;
            @include box-shadow(inset 0 2px 2px rgba(0,0,0,.2));
          }
        }

        .search-button {
          width: 75px;

          button {
            float: right;
            border: none;
            width: 70px;
            height: 36px;
            //---------
            @include border-radius(4px);
            background-color: #f66936;
            @include box-shadow(0 2px rgba(0,0,0,.1), inset 0 -1px #db5220);
            @include background-image(linear-gradient(bottom, #f15a23, #f86e3d));

            font-family: "PT Sans";
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            @include text-shadow(0 2px rgba(0,0,0,.2));
          }
        }
      }

      .search-options {
        //---------
        font-size: 12px;
        color: #666;

        a {
          color: #666;
        }
      }
    }
  }
}

.strip {
  height: 45px;
  margin: 18px 0;
  border-top: 1px dashed #ababab;
  border-bottom: 1px dashed #ababab;
  //---------
  background: #fff;

  .primary {
    list-style: none;
    margin: 14px 0 0 0;

    li {
      @include inline-block;
      vertical-align: middle;
      margin: 0 50px 0 0;
      padding-bottom: 14px;
      position: relative;
      &:last-child, &.last {
        margin-right: 0;
      }
      //---------
      font-size: 16px;
      font-weight: bold;
      color: $black;


      @mixin _link-hover-style {
        border-bottom: 1px dotted;
        color: #f15a23;
        text-decoration: none;
      }

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          @include _link-hover-style;
        }
      }


      &:hover {
        ul {
          display: block;
        }

        a {
          @include _link-hover-style;
        }
      }
    }

    ul {
      display: none;
      position: absolute;
      margin: 13px 0 0 0;
      padding: 10px 22px;
      width: 460px;
      z-index: 300;
      //---------
      background: #262a2e;
      @include border-radius(7px);
      font-size: 0;

      &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: -7px;
        margin-left: -10px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 10px 7px 10px;
        border-color: transparent transparent #262a2e transparent;
      }

      li {
        @include inline-block;
        vertical-align: top;
        width: 230px;
        margin: 0;
        padding: 0;
        //---------
        font-size: 13px;
        line-height: 23px;
        font-weight: normal;
        color: #e0e0e0;

        a {
          color: #e0e0e0 !important;
          border-bottom: none !important;
          text-decoration: underline !important;
          line-height: 18px;
          &:hover {
            border-bottom: none;
            color: $blue !important;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.strip-2 {
  margin: 15px 0;
  padding: 15px 0 25px;
  //---------
  background: #fff url(../images/strip-2.png) repeat-x bottom;
}

.shelf {
  padding-bottom: 70px;
  //z-index: auto;
  //---------
  background: url(../images/shelf.png) no-repeat bottom;
}

ul {
  &.links, &.breadcrumbs {
    margin: 0 0 20px 0;
    list-style: none;
    //---------
    font-size: 0;
    li {
      display: inline;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
      //---------
      font-size: 13px;

      a {
        color: $black;
        text-decoration: underline;
      }
    }
  }

  &.breadcrumbs {
    li {
      margin-right: 0;

      a {
        color: $blue;
      }
    }
  }

  &.alphabet {
    margin: 0;
    padding: 0 14px;
    list-style: none;
    @include inline-block;
    //---------
    font-size: 0;
    @include border-radius(10px);
    background: #fff;
    li {
      @include inline-block;
      height: 23px;
      padding: 5px 4px 0;
      //---------
      font-size: 13px;
      text-transform: uppercase;

      &.active {
        background: $blue;
        color: #fff;
        a {
          color: #fff;
          text-decoration: underline;
          cursor: default;
        }
      }
    }
  }
}

.author-list {
  margin-top: 50px;

  .letter {
    font-size: 20px;
    font-weight: bold;
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;

      a {
        color: $black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.scroll-top {
  @include inline-block;
  padding: 3px 15px;
  margin-top: 60px;
  //---------
  background: #fff;
  @include border-radius(10px);
  text-decoration: underline;
  &:focus {
    outline: 0;
  }
}

.large-para {
  margin: 50px 0 150px;
  p {
    margin-bottom: 15px;
    //---------
    font-size: 13px;
    line-height: 21px;
  }
}

.book-list {
  //---------
  font-size: 0;

  .book {
    @include inline-block;
    width: 300px;
    margin: 0 0 55px 20px;
    //---------
    font: normal 13px/18px "PT Sans Narrow", sans-serif;

    h3 {
      font-size: 18px;
      line-height: 18px;
      font-weight: normal;

      a {
        text-decoration: underline;
      }
    }
  }

}

.book-info {
  .cover {
    margin-right: 32px;
  }

  .media-body {
    margin: 0;

    h2 {
      margin-bottom: 14px;
      //---------
      font-size: 18px;
      line-height: 22px;
    }

    .m_btn {
      margin-right: 15px;
    }
  }

  p {
    margin-bottom: 15px;
    width: 520px;
  }
}

.social-links {
  list-style: none;

  li {
    float: left;
    margin-right: 6px;
  }
}





/* Icons
-----------------------------------------------------------------------------*/
.m_icon {
  @include inline-block;
  vertical-align: middle;
}

$icons-spacing: 10px;
$sprite-selectors: hover;
@import "icons/*.png";
@include all-icons-sprites(true);






/* Headings
-----------------------------------------------------------------------------*/
@mixin textReplace($_image) {
  $_image_w: '/text/' + $_image;
  border: 0;
  font: 0/0 a;
  @include text-shadow(none);
  color: transparent;
  background: url('../images' + $_image_w);
  width: image-width($_image_w);
  height: image-height($_image_w);
}

.populyarnie-knigi {
  @include textReplace('populyarnie-knigi.png');
  @include inline-block;
}

.novie-postupleniya {
  @include textReplace('novie-postupleniya.png');
  @include inline-block;
}

.interestnie-knigi {
  @include textReplace('interestnie-knigi.png');
  @include inline-block;
}

.knigi-avtora {
  @include textReplace('knigi-avtora.png');
  @include inline-block;
}







/* jCarousel
-----------------------------------------------------------------------------*/
.jcarousel-skin-custom {
  .jcarousel-container {
    overflow-y: visible;
  }

  .jcarousel-container-horizontal {
    width: auto;
    padding: 0;
  }

  .jcarousel-clip-outer {
    height: 180px;
    overflow-y: visible;

    .jcarousel-clip {
      overflow-x: hidden;
    }
  }

  .jcarousel-clip-horizontal {
    width: 100%;
  }

  .jcarousel-item {
    width: 200px;
    margin: 0 20px;
    position: relative;
    //---------
    font-size: 13px;
    line-height: 16px;

    a {
      color: $black;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin: .5em 0 0;
    }
  }

  /* Horizontal Buttons */
  .jcarousel-next-horizontal {
    position: absolute;
    top: 0;
    margin-top: 80px;
    right: -30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent url('../images/jcarousel/next.png') no-repeat 0 0;

    &:hover, &:focus {
      background: transparent url('../images/jcarousel/next-hover.png') no-repeat 0 0;
    }
    /*
    &:active {
      background-position: -64px 0
    }
    */
  }

  .jcarousel-prev-horizontal {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: -30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent url('../images/jcarousel/prev.png') no-repeat 0 0;

    &:hover, &:focus {
      background: transparent url('../images/jcarousel/prev-hover.png') no-repeat 0 0;
    }

    /*
    &:active {
      background-position: -64px 0;
    }
    */
  }

  .cover {
    position: relative;
    z-index: 100;
    margin: 14px 0 0 14px;
  }

  .hover {
    z-index: 150;
    .expand {
      display: block;
    }
  }

  .expand {
    display: none;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 14px;
    z-index: 50;
    margin-top: 3px;
    //---------
    background: #fff;
    @include border-radius(5px);
    @include box-shadow(0 0 3px rgba(0,0,0,.2));

    .actions {
      position: absolute;
      top: 14px;
      right: 32px;

      div {
        margin-bottom: 9px;
      }
    }

    .meta {
      margin-top: 195px;
      //---------





      .title {
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 22px;
        line-height: 22px;
      }

      .description {
        margin-top: 5px;
        //---------
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 14px;
        line-height: 16px;
      }
    }

    .vote {
      margin-top: 10px;
    }

    .more-action {
      margin-top: 15px;
      span {
        margin-right: 17px;
        &:last-child {
          margin-right: 0;
        }

        .m_icon {
          margin-right: .4em;
        }

        a {
          color: $blue;
          text-decoration: underline;
        }
      }
    }
  }

}







/* Author Page
-----------------------------------------------------------------------------*/
.author-info {
  margin: 0 0 90px 28px;

  .photo {
    float: left;
    margin-right: 62px;

    img {
      border: 4px solid #fff;
    }
  }

  .media-body {
    width: 460px;

    h2 {
      font-size: 20px;
      color: $black;
    }
  }
}








/* Article Page
-----------------------------------------------------------------------------*/
.article-list {
  width: 85%;
  //---------
  font-size: 15px;
  line-height: 20px;
  .article {
    margin: 0 0 33px 0;
    //--------------
    .article-image {
      float: left;
      margin-right: 20px;
      width: 190px;
      img {
        max-width: 190px;
      }
    }
    .article-content {
      overflow: hidden;
    }
    .date {
      color: $blue;
      font-size: 12px;
      line-height: 15px;
    }
    .time {
      @extend .date;
      color: $blue;
      font-weight: bold;
    }
    h3 {
      margin: 3px 0 5px;
      //---------
      font: {
        size: 18px;
        weight: bold;
      };
      color: #010101;
      line-height: 21px;
      a {
        color: #010101;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .article-introtext {
      color: #666;
    }
  }
}








/* Pagination
-----------------------------------------------------------------------------*/
.default_pagination {
  margin-top: 60px;
  ul {
    margin: 0;
    list-style: none;
    //---------
    font-size: 0;
    text-align: center;
    li {
      @include inline-block;
      //---------
      font-size: 15px;
      color: #666666;
      &.next, &.previous {
        font-style: italic;
        a {
          display: inline;
          padding: 0;
          //---------
          text-decoration: underline;
        }
        &.disabled {
          color: #b7b6b6;
          span {
            text-decoration: underline;
          }
        }
      }
      &.next {
        float: right;
      }
      &.previous {
        float: left;
      }
      &.active {
        padding: 2px 8px;
        //---------
        background: #0099cc;
        color: white;
        @include border-radius(2px);
        font-weight: bold;
      }
      a {
        display: block;
        padding: 2px 8px;
        //---------
        color: #666666;
        text-decoration: none;
        &:focus {
          outline: 0;
        }
      }
    }
  }
}





/* Ui
-----------------------------------------------------------------------------*/
.m_btn {
  padding: 18px 32px;
  border: 0;
  //---------
  @include border-radius(8px);
  background: #999;
  color: #fff;

  &:hover {
    background: #F66936;
  }
  &:active {
    @include box-shadow(inset 0 0 10px rgba(0,0,0,.6));
  }
}






footer {
  margin: 200px 0 20px;

  .logo {
    margin: 0 0 25px 0;
  }

  .links {
    margin: 0;
    list-style: none;
    float: left;
    //---------
    font-size: 14px;
    line-height: 20px;
    li {
      display: block;
      margin-right: 0;
      //---------
      font-size: 14px;
    }
  }

  .partners {
    h5 {
      margin-top: 0;
      //---------
      font-size: 14px;
      font-weight: bold;
      color: #555;
    }

    ul {
      margin: 0;
      list-style: none;
      li {
        display: block;
        margin-bottom: 8px;
      }
    }
  }

  .social-links {
    margin-top: 15px;
  }
}

