@import "compass/css3";

// Import all the variables into the main css file.
@import "variables";

$black: #333;
$blue: #3399cc;
$orange: #ff6633;

$linkColor:      $orange;
$linkColorHover: darken($linkColor, 15%);

$inputBorderRadius: 4px;

// I gather this file is a starting point for the project.
@import "bootstrap";
// Include responsive Bootstrap styles
// @import "bootstrap-responsive";

@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);






/* Icons
-----------------------------------------------------------------------------*/
.m_icon {
  @include inline-block;
  vertical-align: middle;
}

$icons-spacing: 10px;
$sprite-selectors: hover, active;
@import "icons/*.png";
@include all-icons-sprites(true);





/* Common
-----------------------------------------------------------------------------*/
.blue { color: $blue !important; }
.orange { color: $orange !important; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  //---------
  background: url(../images/body-bg.png) repeat;
  font: normal 14px/20px Arial, sans-serif;
}

p {
  margin-bottom: 20px;

  a {
    text-decoration: underline;
  }
}

ol {
  & > li {
    margin-bottom: 20px;
  }
}

a {
  &.pop {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    //---------
    text-decoration: none !important;
    &:hover {
      //border-bottom-style: solid;
    }
  }

  &.flat {
    color: $black;
    font-style: italic;
    text-decoration: underline;
  }
}

header {
  .logo {
    float: left;
    margin-top: 35px;

    .logo__img {
      @extend .icons-logo-header;
      display: block;
    }

    .logo__text {
      margin: -1px 0 0 44px;

      //---------
      $_font_size: 14px;
      font-size: $_font_size;
      line-height: $_font_size / 2;
    }
  }


  .line-search {
    width: 650px;
    float: right;
    margin: 12px 0 0 0;

    nav {
      ul {
        @include clearfix;
        margin: 0 16px;

        li {
          list-style: none;
          float: left;
          margin-right: 24px;
          &:last-child, &.last {
            margin-right: 0;
            float: right;
          }
          //---------
          font-size: 14px;
          color: $black;

          a {
            color: $black;
            text-decoration: underline;
          }
        }
      }
    }

    .head-search {
      margin: 5px 0 0 0;
      padding: 10px 12px 2px;
      //---------
      background: #dcdcdc;
      @include border-radius(5px);
      @include box-shadow(0 2px 2px rgba(0,0,0,.2));

      .search-table {
        width: 100%;

        .search-input {
          input {
            margin: 0;
            height: 36px;
            //---------
          }
        }

        .search-button {
          width: 75px;

          button {
            float: right;
            border: none;
            width: 70px;
            height: 36px;
            //---------
            @include border-radius(4px);
            background-color: #f66936;
            @include box-shadow(0 2px rgba(0,0,0,.1), inset 0 -1px #db5220);
            @include background-image(linear-gradient(bottom, #f15a23, #f86e3d));

            font-family: "PT Sans";
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            @include text-shadow(0 2px rgba(0,0,0,.2));
          }
        }
      }

      .search-options {
        //---------
        font-size: 12px;
        color: #666;

        a {
          color: #666;
        }
      }
    }
  }
}

.strip {
  height: 45px;
  margin: 18px 0;
  border-top: 1px dashed #ababab;
  border-bottom: 1px dashed #ababab;
  //---------
  background: #fff;

  .primary {
    list-style: none;
    margin: 14px 0 0 0;

    li {
      @include inline-block;
      vertical-align: middle;
      margin: 0 50px 0 0;
      padding-bottom: 14px;
      position: relative;
      &:last-child, &.last {
        margin-right: 0;
      }
      //---------
      font-size: 16px;
      font-weight: bold;
      color: $black;


      @mixin _link-hover-style {
        border-bottom: 1px dotted;
        color: #f15a23;
        text-decoration: none;
      }

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          @include _link-hover-style;
        }
      }


      &:hover {
        ul {
          display: block;
        }

        a {
          @include _link-hover-style;
        }
      }
    }

    ul {
      display: none;
      position: absolute;
      margin: 13px 0 0 0;
      padding: 10px 22px;
      //width: 460px;
      z-index: 300;
      //---------
      background: #262a2e;
      @include border-radius(7px);
      font-size: 0;

      &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: -7px;
        margin-left: -10px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 10px 7px 10px;
        border-color: transparent transparent #262a2e transparent;
      }

      li {
        //@include inline-block;
        //vertical-align: top;
        //width: 230px;
        display: block;
        margin: 0;
        padding: 0;
        //---------
        font-size: 13px;
        line-height: 23px;
        font-weight: normal;
        color: #e0e0e0;

        a {
          white-space: nowrap;
          color: #e0e0e0 !important;
          border-bottom: none !important;
          text-decoration: underline !important;
          line-height: 18px;
          &:hover {
            border-bottom: none;
            color: $blue !important;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.strip-2 {
  margin: 15px 0;
  padding: 15px 0 25px;
  //---------
  background: #fff url(../images/strip-2.png) repeat-x bottom;

  .shelf {
    background: url(../images/shelf_02.png) no-repeat bottom;
  }
}

.shelf {
  padding-bottom: 60px;
  //---------
  background: url(../images/shelf.png) no-repeat bottom;
}

.shelf-repeat {
  @extend .shelf;
  margin-top: 30px;
  //---------
  background: {
    repeat: repeat-y;
    position: center 0px;
  };
}

.pad-wrapper {
  padding-top: 35px;
}


ul {
  &.links, &.breadcrumbs {
    margin: 0 0 30px 0;
    list-style: none;
    //---------
    font-size: 0;
    li {
      display: inline;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
      //---------
      font-size: 13px;

      a {
        color: $black;
        text-decoration: underline;

        &.highlighted {
          color: $orange;
        }
      }
    }
  }

  &.breadcrumbs {
    li {
      margin-right: 0;
      //---------
      color: #666;

      a {
        color: $orange;
      }
    }
  }


  &.alphabet {
    margin: 0;
    padding: 0 14px;
    list-style: none;
    @include inline-block;
    //---------
    font-size: 0;
    @include border-radius(10px);
    background-color: $orange;
    @include box-shadow(0 2px rgba(0,0,0,.1), inset 0 -1px #db5221);
    @include background-image(linear-gradient(bottom, #f15a23, #f86e3d));

    li {
      @include inline-block;
      height: 23px;
      padding: 5px 4px 0;
      //---------
      font-size: 13px;
      text-transform: uppercase;

      a {
        color: #fff;
      }

      &.active {
        background: #fff;
        color: $orange;
        a {
          color: $orange;
          text-decoration: underline;
          cursor: default;
        }
      }
    }
  }
}

.author-list {
  margin-top: 50px;

  .letter {
    font-size: 20px;
    font-weight: bold;
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      margin-bottom: .5em;

      a {
        color: $black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.scroll-top {
  margin-top: 60px;
  text-align: center;

  .scroll-top__container {
    @include inline-block;
    padding: 3px 15px;
    //---------
    @include border-radius(10px);
    background-color: $orange;
    @include box-shadow(0 2px rgba(0,0,0,.1));
    @include background-image(linear-gradient(bottom, #f15a23, #f86e3d));

    .scroll-top__container__link {
      &, &:link, &:hover, &:visited, &:focus {
        color: #fff;
        text-decoration: none;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}

.large-para {
  margin: 50px 0 150px;
  p {
    margin-bottom: 15px;
    //---------
    font-size: 13px;
    line-height: 21px;
  }
}



$book_width: 126px;
$book_height: 200px;
$book_expanded_width: 174px;
$book_expanded_outer_width: #{174 + 14 * 2}px;
.book {
  position: relative;
  width: $book_width;
  height: $book_height;
  @include inline-block;

  .book__back {
    position: absolute;
    width: 100%;
    height: 180px;
    @include border-radius(6px);
    background: url('../images/book_pages.png') 2px 3px no-repeat;
  }

  .book__shadow {
    position: absolute;
    left: -14px;
    bottom: 0px;
    width: 149px;
    height: 23px;
    //---------
    background: url('../images/book_shadow.png') no-repeat;
  }


  .book__cover {
    position: absolute;
    top: 6px;
    width: 120px;
    height: 180px;
    //--------
    @include border-radius(6px);
    background-repeat: no-repeat;
  }

  .book__reflection {
    position: absolute;
    width: 100%;
    height: 100%;
    //---------
    background: url('../images/book_reflection.png') no-repeat;
  }
}

.book_wrap {
  position: relative;
  //---------
  text-align: left;

  &.hover {
    z-index: 150;
    .expand {
      display: block;
    }
  }

  .book {
    position: relative;
    z-index: 100;
    margin: 14px 0 0 14px;
  }


  .expand {
    display: none;
    width: $book_expanded_width;
    position: absolute;
    top: 0;
    left: 0;
    padding: 14px;
    z-index: 50;
    margin-top: 3px;
    //---------
    background: #fff;
    @include border-radius(5px);
    @include box-shadow(0 0 3px rgba(0,0,0,.2));

    .actions {
      position: absolute;
      top: 17px;
      right: 19px;

      div {
        margin-bottom: 9px;

        &.like {
          color: $orange;
          text-align: center;

          span {
            display: block;
            margin-top: 5px;
            //---------
            $_font_size: 11px;
            font-size: $_font_size;
            line-height: $_font_size/2;
          }
        }

      }
    }

    .meta {
      position: relative;
      margin: 195px 0 0 0;
      //---------

      .title {
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 18px;
        line-height: 18px;
        text-decoration: underline;

        a {
          color: #333;
        }
      }

      .description {
        margin-top: 5px;
        //---------
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 14px;
        line-height: 16px;
      }
    }

    .vote {
      @extend .inline;
      margin-top: 10px;

      li {
        height: auto;
        width: auto;
        padding: 0 !important;
        margin: 0 6px 0 0;
      }
    }


    .more-action {
      margin-top: 15px;
      span {
        margin-right: 17px;
        &:last-child {
          margin-right: 0;
        }

        .m_icon {
          margin-right: .4em;
        }

        a {
          color: $blue;
          text-decoration: underline;
        }
      }
    }
  }
}

.book-list {
  @extend .clearfix;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    float: left;
    position: relative;
    width: $book_expanded_outer_width;
    height: $book_height;
    margin: 0 0px 60px 30px;
    //---------
    text-align: center;

    .book_wrap {
      position: absolute;
    }
  }
}

.book-info {
  @extend .media;

  .book {
    margin: {
      right: 82px;
      left: 31px;
    };
  }

  .media-body {
    margin: 0;

    h2 {
      margin-bottom: 14px;
      //---------
      font-size: 24px;
      line-height: 22px;
    }

    .meta {
      margin-bottom: 30px;
      width: 520px;
    }

    p {
      margin-bottom: 15px;
      width: 520px;
    }

    .m_btn {
      margin: 30px 21px 5px 0;
    }
  }
}

.social-links {
  @extend .inline;
  font-size: 0;

  li {
    padding: 0 !important;
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
  }
}





/* Headings
-----------------------------------------------------------------------------*/
h3 {
  &.lobster {
    font: {
      family: Lobster;
      size: 22px;
      weight: normal;
    }
    color: $orange;

    span {
      font: {
        size: 14px;
        weight: normal;
        family: Arial, sans-serif;
      };
      color: #333;
    }
  }
}

h5 {
  margin: 40px 0 20px;
  color: $orange;
}

.page-header {
  margin: 50px 0 25px;
  border: 0;
}






/* jCarousel
-----------------------------------------------------------------------------*/
.jcarousel-skin-custom {

  .jcarousel-container {
    overflow-y: visible;
  }

  .jcarousel-container-horizontal {
    width: auto;
    padding: 0;
  }

  .jcarousel-clip-outer {
    height: 200px;
    overflow-y: visible;

    .jcarousel-clip {
      overflow-x: hidden;
    }
  }

  .jcarousel-clip-horizontal {
    width: 100%;
    width: $gridRowWidth + 10px;
  }

  .jcarousel-item {
    width: 200px;
    margin: 0 20px;
    position: relative;
    //---------
    font-size: 13px;
    line-height: 16px;

    a {
      color: $black;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin: .5em 0 0;
    }
  }

  /* Horizontal Buttons */
  .jcarousel-next-horizontal {
    position: absolute;
    top: 0;
    margin-top: 80px;
    right: -30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent url('../images/jcarousel/next.png') no-repeat 0 0;

    &:hover, &:focus {
      background: transparent url('../images/jcarousel/next-hover.png') no-repeat 0 0;
    }
    /*
    &:active {
      background-position: -64px 0
    }
    */
  }

  .jcarousel-prev-horizontal {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: -30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent url('../images/jcarousel/prev.png') no-repeat 0 0;

    &:hover, &:focus {
      background: transparent url('../images/jcarousel/prev-hover.png') no-repeat 0 0;
    }

    /*
    &:active {
      background-position: -64px 0;
    }
    */
  }
}








/* Author Page
-----------------------------------------------------------------------------*/
.author-info {
  @extend .media;
  margin: 0 0 90px 28px;

  .photo {
    float: left;
    margin-right: 62px;

    img {
      border: 4px solid #fff;
    }
  }

  .media-body {
    width: 460px;

    h2 {
      font-size: 20px;
      color: $black;
    }
  }
}








/* Article Page
-----------------------------------------------------------------------------*/
.article-list {
  width: 65%;
  //---------
  font-size: 14px;
  line-height: 20px;
  .article {
    margin: 0 0 33px 0;
    //--------------
    .article-image {
      float: left;
      margin-right: 20px;
      width: 190px;
      img {
        max-width: 190px;
      }
    }
    .article-content {
      overflow: hidden;
    }

    .article-meta {
      .date {
        color: $orange;
        font-size: 12px;
        line-height: 16px;
      }
    }

    h3 {
      margin: 3px 0 12px;
      //---------
      font: {
        size: 18px;
        weight: bold;
      };
      color: #333;
      line-height: 21px;
      a {
        color: #333;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .article-introtext {
      color: #333;
    }
  }
}








/* Pagination
-----------------------------------------------------------------------------*/
.default_pagination {
  margin-top: 60px;
  ul {
    margin: 0;
    list-style: none;
    //---------
    font-size: 0;
    text-align: center;
    li {
      @include inline-block;
      //---------
      font: {
        size: 15px;
        weight: bold;
      };
      color: #666666;
      &.next, &.previous {
        font: {
          style: italic;
          weight: normal;
        };
        a {
          display: inline;
          padding: 0;
          //---------
          text-decoration: underline;
        }
        &.disabled {
          &, a {
            color: #b7b6b6;

            span {
              text-decoration: underline;
            }
          }
        }
      }
      &.next {
        float: right;
      }
      &.previous {
        float: left;
      }
      &.active {
        padding: 2px 8px;
        //---------
        background-color: $orange;
        @include box-shadow(0 2px rgba(0,0,0,.1));
        @include background-image(linear-gradient(bottom, #f15a23, #f86e3d));
        color: white;
        @include border-radius(2px);
        font-weight: bold;
      }
      a {
        display: block;
        padding: 2px 8px;
        //---------
        color: #666666;
        text-decoration: none;
        &:focus {
          outline: 0;
        }
      }
    }
  }
}





/* Ui
-----------------------------------------------------------------------------*/
.m_btn {
  padding: 12px 15px;
  border: 0;
  position: relative;
  //---------
  @include border-radius(3px);
  color: #fff;
  font: {
    size: 16px;
    weight: bold;
  };
  @include text-shadow(0 2px rgba(0,0,0,.2));

  background-color: #f66936;
  @include box-shadow(0 2px rgba(0,0,0,.2), inset 0 -2px #db5220);
  @include background-image(linear-gradient(bottom, #f15a23, #f86e3d));

  &:active {
    @include box-shadow(none);
    top: 2px;
    margin-bottom: 3px;
  }
}

textarea {
  height: 200px;
}

input[type=text], textarea {
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,.2));
  color: #333;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $orange;
  @include box-shadow(none);
}









footer {
  margin: 100px 0 20px;

  .logo {
    margin-top: 0px;

    .logo__img {
      @extend .icons-logo-footer;
      display: block;
    }

    .logo__text {
      margin: -1px 0 0 34px;

      //---------
      $_font_size: 11px;
      font-size: $_font_size;
      line-height: $_font_size / 2;
    }
  }

  .logo {
    margin: 0 0 25px 0;
  }

  .links {
    margin: 0;
    list-style: none;
    float: left;
    //---------
    font-size: 14px;
    line-height: 20px;
    li {
      display: block !important;
      float: none !important;
      margin-right: 0;
      //---------
      font-size: 14px;
      white-space: nowrap;
    }
  }

  .links_1 {
    @extend .links;
    width: 135px;
  }
  .links_2 {
    @extend .links;
    width: 240px;
  }
  .links_3 {
    @extend .links;
    width: 85px;
  }

  .partners {
    h5 {
      margin-top: 0;
      //---------
      font-size: 14px;
      font-weight: bold;
      color: #555;
    }

    ul {
      margin: 0;
      list-style: none;
      li {
        display: block;
        margin-bottom: 8px;
      }
    }
  }

  .social-links {
    margin-top: 15px;
    //---------
    text-align: right;
  }
}

